/*
 * *****************************************************************************
 * Classes para posicionamento
 * *****************************************************************************
 */
.leftSide {
  position:absolute;
  z-index:0;
  background-repeat:repeat-y;
  top:0px;
  left:0px;
  width:10px;
  bottom:5px;
}

.rightSide {
  position:absolute;
  z-index:0;
  background-repeat:repeat-y;
  top:0px;
  right:0px;
  width:10px;
  bottom:5px;
}

.topSide {
  position:absolute;
  z-index:0;
  background-repeat:repeat-x;
  top:0px;
  right:0px;
  left:0px;
  height:10px;
}

.bottomSide {
  position:absolute;
  z-index:0;
  background-repeat:repeat-x;
  bottom:5px;
  right:0px;
  left:0px;
  height:10px;
}

.topLeftConner {
  position:absolute;
  z-index:1;
  background-repeat:no-repeat;
  top:0px;
  left:0px;
  width:10px;
  height:10px;
}

.topRightConner {
  position:absolute;
  z-index:1;
  background-repeat:no-repeat;
  top:0px;
  right:0px;
  width:10px;
  height:10px;
}

.bottomRightConner {
  position:absolute;
  z-index:1;
  background-repeat:no-repeat;
  bottom:5px;
  right:0px;
  width:10px;
  height:10px;
}

.bottomLeftConner {
  position:absolute;
  z-index:1;
  background-repeat:no-repeat;
  bottom:5px;
  left:0px;
  width:10px;
  height:10px;
}

/*
 * *****************************************************************************
 * Definições para as tags HTML
 * *****************************************************************************
 */
h1 {
  padding: 3px;
  padding-bottom:8px;
}

h1 img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

/*
 * *****************************************************************************
 * Alinhamento 
 * *****************************************************************************
 */
.posLeft {
  display:inline-block;
  float:left;
}

.posRight {
  display:inline-block;  
  float:right;
}

.posReset {
  clear: both;
}

.pos-south {
  position:absolute;
  bottom:0px;
  right:0px;
  width:100%;
  left:0px;
}

.pos-north {
  position:absolute;
  top:0px;
  right:0px;
  width:100%;
  left:0px;
}

.pos-west {
  display:inline-block;
  float:left;
}

.pos-east {
  display:inline-block;
  float:right;
}


