/*IE8*/
fieldset {
	padding-left:0.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}
textarea {
	resize:none;
	border: 1px #CCCCCC double;
	border-radius: 5px;
}
table {
	border-collapse: collapse;
	padding:0;
}

table tr td{
     /*padding-bottom: 5px;*/
}

.img {
	cursor:pointer;
}
.disabled{
    filter: alpha(opacity=60);  
    -moz-opacity: 0.6;  
    -khtml-opacity: 0.6;  
    opacity: 0.6; 
}
.space {
	margin-left:0.3em;
	margin-top:0.6em;
	margin-bottom:0.6em;
	padding: 0px 28px !important;
}
.absolute{
	position: absolute;
}
.posicaoRight { 
	float:right;
	margin-right:0.2em;
}
.posicaoLeft { 
	float:left;
}                
.conteiner {
	background:#F9F9F9;
	border-radius:5px;
	display:block;
	padding-top:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
	margin:0;
}
.conteiner .titulo {
	display:block;
	padding:0.3em 0 0.8em;
	width:100%; /* For IE8 */
}
.box  {
	background:#F9F9F9;
	border:1px solid #CFCFCF;
	margin-left:0;
	border-radius:5px;
}
.box fieldset {
	border:none;
	margin:0;
	padding:0;
}
.box legend {
	border:none;
	float: top;
}
.box .caixa {
	padding-top:10px;
	padding-left:10px;
}
.box .hdCab {
	display:block;
	padding:0.3em 0 0.8em;
	width:100%;
}
.box .hd {
	display:block;
	padding:0.3em 0 0.3em;
	width:100%;
}
.box .hd .text {
	color: #003366;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:65%;
	font-weight:bold;
	font-style: normal;
	text-decoration: none;
	margin:0 0.5em;
	white-space:normal;
	display:block;
	zoom:1;
}
.box .info {
	margin:0 0.5em;
}
.box .bd {
	border-top:1px solid #CFCFCF;
	padding-top:0.1em;
	padding-bottom:0.1em;
	padding-left:0.3em;
	padding-right:0.3em;
}
.box ol {
	margin:0;
	padding:0;
}
.box li {
 float: left;
 list-style-type:none;
}
.box .list li {
	background:#D3D3D3;
	color:#336;
	padding:0.2em;
}
.box .list li:nth-child(2n) {
	background:#BEBEBE;
}
.box .fields li {
	list-style-type:none;
	margin-bottom:1em;
	overflow:hidden;
	position:relative;
}
.box .fields .label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	font-style: normal;
}
.box .fields .field {
	padding-right: 5px;
}
.box .fields .field.tiny input[type=text]{
	width:5em;
}
.box .fields .field.date input[type=text]{
	width:7em;
}
.box .fields .field.small input[type=text]{
	max-width:17em;
}
.box .fields .field textarea {
	height:6em;
	width:100%;
}
.right { 
	overflow:hidden; 
	margin-bottom:0.4em;
	margin-right:0.8em;
} 
.right input { float:right; }

.Relato {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-style: normal;
}
.Cabecalho {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	text-align: left;
	color: #404040;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 0px;
}
.Linha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	background-image: url('column-header-over-bg.png');
}
.TextoEnvEmail {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-position: center;
	color: #000000;
	font-style: normal;
	font-variant: normal;
}  
.TextoReimpGuia {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #e84248;
	text-decoration: none;
}
.TextoLinGrid {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	text-decoration: none;
	font-style: normal;
} 
.TextoLinGridC {
	font-family: "Courier New", Courier, mono;
	font-size: 9px;
	color: #666;
	text-decoration: none;
	font-style: normal;
} 
.TextoLabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	text-decoration: none;
	font-style: normal;
}
.TextoLabelBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	text-decoration: none;
	font-style: normal;
}
.TextoLabelOB {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	font-style: normal;
    background-color: white;
}
.TextoDestaques {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #777777;
	text-decoration: none;
	font-weight: normal;
}
.TextoAut {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0D9132;
	text-decoration: none;
}
.TextoNeg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #F00000;
	text-decoration: none;
}        
.TextoAutPeq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0D9132;
	text-decoration: none;
	font-style: normal;
}                 
.TextoAutPeqC {
	font-family: "Courier New", Courier, mono;
	font-size: 9px;
	color: #0D9132;
	text-decoration: none;
	font-style: normal;
}                 
.TextoNegPeq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e84248;
	text-decoration: none;
	font-style: normal;
}                 
.TextoNegPeqC {
	font-family: "Courier New", Courier, mono;
	font-size: 9px;
	color: #e84248;
	text-decoration: none;
	font-style: normal;
}                 
.TextoCourierBold {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #003366;
	text-decoration: none;
	font-style: normal;
}
.TextoCourier {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	font-style: normal;
}
.TextoCourierGreen {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
	color: #0D9132;
	text-decoration: none;
	font-style: normal;
}
.TextoInputOBUpper{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	border: 1px #CCCCCC double;
	text-transform: uppercase;
	height: 18px;
}     
.TextoInputOPUpper{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	border: 1px #CCCCCC double;
	background-color: #E0DFDF;
	text-transform: uppercase;
	height: 18px;
}
.TextoInput11Upper{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px #CCCCCC double;
	text-transform: uppercase;
	height: 18px;
	margin:0;
	padding:0;
}
.ComboSelectOB {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px solid #CCCCCC;
	height: 22px;
    line-height:normal;
    padding:3px;
}
.ComboSelectOP {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px solid #CCCCCC;
	height: 22px;
	background-color: #F0F0F0;
	line-height:normal;
	padding:3px;
}     
.TextoDica {
	font-size: 11px; 
	color: #454545; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FundoClaro {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
}          
.FundoPontilhado {
	text-decoration: none;
	background-image: url(pontilhado.gif);
	height: 5px;
}
.FundoPontilhadoVertical {
	text-decoration: none;
	background-image: url(pontilhado_vertical.gif);
	height: 5px;
}                                                         
.FundoLogin {
	text-decoration: none;
	background-color: #7BA0CA;
}
.FundoMenu {
	text-decoration: none;
	background-image: url(apmenu-right.jpg);
}
.FundoSubMenu {
	text-decoration: none;
	background-image: url(apmenu-right.jpg);
}
.FonteBottomSubMenu {
	background-image: url(topo_bottom_menu.gif);
	height: 16px;
}
.FonteTopSubMenu {
	background-image: url(topo_top_menu.gif);
	margin-top: 4px;
	height: 20px;
}
.DivisoriaOpcaoMenu {
	text-decoration: none;
	background-color: #6680A6;
	background-image: url(apmenu-right.jpg);
}         
.topoNomePortal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #00A9C7;
	width:69%;
	text-align: center;
}                     
.FonteMenu {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration:none;
	background-color:#F5F5F5;
	border-top: #FFFFFF solid 1px;
	border-bottom:#DFDFDF solid 1px;
	display:block;
}
.FonteSubMenu {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration:none;
	background-color:#E5E5E5;
	border-top: #FFFFFF solid 1px;
	border-bottom:#CCCCCC solid 1px;
	display:block;
}
.TarjaTopoLogin {
	text-decoration: none;
	background-color: #426285;
	height: 6px;
}
.TarjaTopoCor {
	text-decoration: none;
	height: 6px;
	background-image: url(pontilhado.gif);
	background-color: #6699CC;
}
.Titulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #495B73;
	text-decoration: none;
}      
.TituloDica {
	font-size: 20px; 
	color: #49577E; 
	font-family: Arial, Helvetica, sans-serif; 
	text-decoration: none;
}
.TituloCab{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #00A9C7;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	padding-bottom :1em;
}      
.TituloSubItens {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00A9C7;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	vertical-align:-webkit-baseline-middle;
	padding-left:5px;
}
.TituloLoginGde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #CEEEFF;
	text-decoration: none;                                 
}                 
.ListBoxScroll {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	border: 1px solid #CCCCCC;
	clear: none;
	float: none;
	text-decoration: none;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	clip:  rect(1px,1px,1px,1px);
	overflow: auto;
	height: 80px;
}

.Botoes {
    color: #495C60;
	border-color: #dedede #bfbfbf #bfbfbf #dedede;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
	background-color: #f9f9f9;
}

.Botoes:active {
box-shadow: inset 0 2px 5px #dedede, 0 1px 3px #666 !important;
top:2px
}

.Botoes:focus {
    outline: 0;
}

.trGroup{
	line-height:0.9em;
	background-color: #CCCCCC;
}
.trGroup .tdGroup {
	cursor: pointer;
	background-image:url('column-header-bg.gif');	
}  
.trGroup .tdGroup img {
 	height: 13px; 
	width: 13px;
}
.pdf {
	width: 100%;
	height: 530px;
}
.pdf object {
   display: block;
}
.pdf embed {
   display: block;
}
/* hides the second object from all versions of IE */
* html object.hiddenObjectForIE { 
	display: none; 
}
.DivProc {
	position: absolute;
	left: 20%; 
	top: 150px;
	width: 250px;
	height: 75px;
	z-index: 1000;
	text-align: center;
	background-position: center;
	background-color: #666;
	color: #FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top:1.6em;
	border-radius:5px;
}
#ModalPage {
    position: absolute;
    display: none;
    top: 0px;
	width: 10%;
 	height: 100%;
	margin-left:-1em;
	padding:0;
}
.ModalBackground {
	position: absolute;
	opacity: 0.02;
	filter: Alpha(opacity=2); 
	-moz-opacity:0.5;
	top: 0px;
	width: 110%;
 	height: 110%;
	background-color: #666;
	z-index: 500;
}
.ModalContainer {
	position: absolute;
	left: 15%;
	top: 150px;
	z-index: 750;
	border-radius:5px;
}
#ResultFinalAut{
	width: 400px;
	height: 40px;
	background-color: #F9F9F9;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	background-position: center;
	padding:12px;
	z-index: 1000;
	overflow: auto;
}	 
#ResultFinal{
	width: 40ems;
	height: 70px;
	background-color: #F9F9F9;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	background-position: center;
	padding:12px;
	z-index: 1000;
	overflow: auto;
}
#ResultFinalTab{
	background-color: #F9F9F9;
	border:1px solid #666666;
	border-radius:5px;
}
/*Menu bar incio*/
.MenuTab {
	padding:0 0 0.3em;
	width:auto;
	border:none;
}
.MenuTab .divMT{
	clear:both;
	width:auto;
}
.MenuTab .tableMT {
	border: 1px solid #CCCCCC;
	border-width: 1px 0 0 0;
}
.MenuTab .subTableMT {
	margin-top:0.2em;
}
.MenuTab .divGridMT {
	padding:0.2em 0.2em;
	border: 1px solid #CCCCCC;
	border:0.07em solid #CCCCCC;
	border-radius:5px;
}
ul.MenuTabs {
	margin:0.5em 0 0 0;	
	float:left;
	padding:0;
	list-style:none;
	border:none;
}
ul.MenuTabs li {
	float:left;
	margin:0;	
	padding:0 0 0 9px;
	background-image: url(left_on.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
ul.MenuTabs a:link,
ul.MenuTabs a:visited,
ul.MenuTabs a:active,
ul.MenuTabs a:hover {
	width:8em;
	height:1em;
	display:block;
	padding:5px 15px 4px 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#003366;
	text-decoration:none;
	font-style: normal;
	background-image: url(right_on.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
html>body ul.MenuTabs a:link,
html>body ul.MenuTabs a:visited,
html>body ul.MenuTabs a:active,
html>body ul.MenuTab sa:hover {
	height:auto;
	min-height:1.5em;
	padding-bottom:5px;
}
ul.MenuTabs a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #009900;
	text-decoration: none;
	font-style: normal;
}
ul.MenuTabs li.active a:link,
ul.MenuTabs li.active a:visited,
ul.MenuTabs li.active a:active,
ul.MenuTabs li.active a:hover {
	margin:0;
	background-color: #CCCCCC;
	color: #000;
}   
#folderConteiner {
	padding:0px;
	margin:0px;
}
/*ul#tabs {
	float: left;
	width: 100%;
	list-style:none;
	font:80% Tahoma;
	margin:0;
	padding:0;
	margin-top:0.5em;
	padding-left:0.3em;
}
ul#tabs li { 
	display: inline;
}

ul#tabs li a {
	background-color:#EDEDED;
	color: #000;
	border-left:1px solid #CFCFCF;
	border-top:1px solid #CFCFCF;
	border-right:1px solid #CFCFCF;
	border-bottom:1px solid #CFCFCF;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-decoration: none;	
	padding-right: 10px;
	padding-bottom: 2px;
	float:left;
	font-weight:bold;
}
ul#tabs li a:hover{
	color: #6D6D6D;
}
ul#tabs li a.selected { 
	background-color:#85D5E4;
}*/

div.tabFC {
	margin-left:0px;	
	margin-top:10px;	
	margin-bottom:0px;
	padding: 0px 28px;
}
div.tabFC.hide {display: none;}

table.TabDinamica {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	text-align: left;
	color: #404040;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 0px;
}
table.TabDinamica td.TabCab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	background-color: #BEC8D1;
}
table.TabDinamica td { 
	border-bottom: 1px dotted #6699CC;
	padding-left: 3px;
} 
.fakeupload {
      width: 550px;
      background: url(botao-selecione.png) no-repeat 99% 51%;
      cursor: default;
      background-color: #FFFFFF;
}

/* IE */
* html .BtnFalso {
	left:-89px;  
	width:0px;              
	font-size: 5px;
	border-width:0px;  
	margin:0;                   
	top:0;
	right:0;
}
.BtnFalso {  
	position:relative;   
	font-size: 1px;
	padding: 0px;
	cursor:pointer;
	left:-89px;         
	height:18px;
	z-index: 2;
	filter: Alpha(opacity: 0);   
	opacity: 0;
	-moz-opacity:0;   
}        
@media screen and (-webkit-min-device-pixel-ratio:0) {

	.BtnFalso { 
		left:-66px;
	}
	
}                    
.TextoCourierGreen {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
	color: #0D9132;
	text-decoration: none;
	font-style: normal;
}
/*
Browse gridData - Inicio
*/
.browse {
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 11px;
	text-align: left;
	border: none; 
	color: #404040;
	background:#FFFFFF; 
}
.browse thead.cabacalho th {
	position:relative;
	height:18px;
	z-index: 20;
	background:repeat-x 0 top;
	background-image:url('column-header-bg.gif');
	padding-right:0.5em;
}
.browse thead.cabacalho input[type="checkbox"] {
	padding:0;		
	margin:0;
	margin-left:0.5em;
	margin-top:0.3em;		
	margin-bottom:0.2em;		
}
.browse tbody.conteudo th {
	text-align: center;
	background:repeat-x 0 top;
	background-image:url('column-header-bg.gif');		
}
.browse tbody.conteudo img.colBtn {
	border: none;
	visibility:visible;
	cursor:pointer;
	margin-left:0;
	margin-right:0.5em;
}
.browse tbody.conteudo input[type="checkbox"] {
	padding:0;		
	margin:0;
	margin-top:0.3em;		
}
.browse th td {
	white-space:nowrap;
	padding:2px;
}
.browse td {
	color: #000000;
	border-right: solid 1px #d8d8d8;
	border-bottom:1px solid #d8d8d8;
	height: 20px;
	padding:0px 6px;		
	padding-right: 2px;
	
}
.browse td.colfixeInd {
	position:relative; 
	z-index: 10;
	background:repeat-x 0 top;
	background-image:url('column-header-over-bg.png');		
	text-align: center;
	font-weight:bold;
}
/*box grid*/
.boxGrid { 
	border-left:1px solid #85D5E4;
	border-right:1px solid #85D5E4;
	position:relative;
	top: 0.3em;
}
.boxGrid .boxBarTop{ 
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 11px;
	line-height:22px;
    background:#ebf3fd repeat-x 0 top;
    background-image:url('column-header-over-bg.png');
}
.boxGrid .boxBarBottom{ 
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 11px;
	line-height:10px;
	background:#85D5E4;
}
.boxGrid .infoBarBottom{
	vertical-align: middle;
	color: #696969;
	background: none;
	margin-top:0.4em;
	margin-bottom:0;
	margin-left:0.5em;
	margin-right:1em;
}
.boxGrid .left{ 
	float: left;
}
.boxGrid  .right{ 
	float: right;
}
.boxGrid .btnSeparator {
	float: left;
	height: 24px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin:0 0 0 0;
	padding: 0 0 0 0;
}
/*Browse gridData - Fim*/

/* Formularios vertical ou horizontal - inicio*/
.verticalForm fieldset{
	float: left;
	display: block;
	width: 17em;
	margin: 0 1em 1em 0;
	padding: 0 1em 1em 1em;
}
.verticalForm fieldset.radio{
	width: 15em;
	margin: 1em 0 2em 0;
}
.verticalForm fieldset.radio input{
	clear: both;
	float: left;
	width: auto;
}
.verticalForm fieldset.radio label{
	font-weight: normal;
}
.verticalForm input{
	display: block;
	width: 15em;
}
.verticalForm img {
	position:relative;
	float: left;
	top:20px;
	margin-right:0.2em;
	cursor:pointer;
}
.verticalForm label{
	display: block;
	margin-bottom: 1em;
}
.verticalForm label.first{
	padding-top: 1em;
}
.verticalForm select{
	display: block;
}
/*Horizontal*/
.horizontalForm fieldset {
	display: block;
	padding-top: 0;
}
.horizontalForm fieldset.radio {
	margin: 1em 0 2em 0;
}
.horizontalForm fieldset.radio input {
	clear: both;
	float: left;
	width: auto;
}
.horizontalForm fieldset.radio label {
	font-weight: normal;
}
.horizontalForm input {
	display: block;
}
.horizontalForm input.submit {
	clear: both;
}
.horizontalForm input.button {
	position:relative;
	float: left;
	top:20px;
	margin-right:0.2em;
}
.horizontalForm  .img{
	position:relative;
	float: left;
	top:3px;
	margin-right:0.2em;
	margin-left:0;
	cursor:pointer;
}
.horizontalForm label {
	float: left;
	display: block;
	margin-top:1em;
	margin-bottom:0;
	margin-right:0.70em;
	margin-left:0;
}
.horizontalForm select {
	display: block;
}
.horizontalForm table {
}
/*
Form vertical ou horizontal - fim
*/

/*
Form com campo arredondado inicio
*/
.formBox {
	background: transparent; 
	width:795px;
	padding-left:6px;
	padding-top:6px;
	padding-bottom:6px;
}  
.formBox .b1, .formBox .b2, .formBox .b3, .formBox .b4, .formBox .b1b, .formBox .b2b, .formBox .b3b, .formBox .b4b {
	display:block; 
	overflow:hidden; 
	border-top:1px solid #CCCCCC; 
}  
.formBox .b1, .formBox .b2, .formBox .b3, .formBox .b1b, .formBox .b2b, .formBox .b3b {
	height:1px;
}  
.formBox .b2, .formBox .b3, .formBox .b4 {
	background:#EDEDED; 
	border-left:1px solid #CCCCCC; 
	border-right:1px solid #CCCCCC;
	border-top:0px solid #EDEDED; 
}  
.formBox .b1 {
	margin:0 5px; 
	background:#EDEDED;
}  
.formBox .b2 {
	margin:0 3px; 
	border-width:0 2px;
}  
.formBox .b3 {
	margin:0 2px;
}  
.formBox .b4 {
	height:2px; margin:0 1px;
}  
.formBox .conteudo {
	padding:0px 10px 0px 10px;
	display:block; 
	background:#EDEDED; 
	border-left:1px solid #CCCCCC; 
	border-right:1px solid #CCCCCC;
} 


/*
Form com campo arredondado fim
*/
/*****************  Frame do topo - pwsr00A.aph  ****************/
/*************generico****************/
#container{
	display: table;
	width: 100%;
	height: 125px;
}
#bloco-esq{	
	float:left;
	width: 25% !important;
	height: 72% !important;
}

#bloco-esq img{
	width: 65% !important;
	height: 90% !important;
}

#titulo{
	float:left;
	width: 50%;
	height: 90px; 
	text-align: center;
}

#titulo h1{	 
	font-family: sans-serif !important;
	color: #00A9C7; 	
}

#bloco-dir{	
	float:left;
	width: 25%;
	height: 90px;
	text-align: right;
}
#bloco-dir label{
	padding-top: 30px;
	padding-bottom: 5px;
	float: right;
}
/**********************************/


/***********Generico***************/
#barra-botton{
        clear: both;
	background: #0c72b0;	
	height: 29% !important;
	bottom: 0px !important;
	width: 98.5% !important;
	position: fixed !important;
	text-align: center !important;
	display: block !important;
	overflow:auto;
}
/*******************/

#barra-menu{
      display:inline-block;	 
	  max-height:2px;
	  max-width:97.4%;
}

#barra-botton #logout{
      width:31px;
	  height:31px;
	  float: right;
	  margin-top: 1.5px;
}

#barra-botton ul {
	padding:0px;
	margin:0px;
	float: left;
	width: 100%;
	list-style:none;
	max-height:31px;
}

#barra-botton ul li { 
	float:left; 
	margin: 0 22 0 25;
}

#barra-botton ul li a {
	text-decoration: none;
	padding: 2px 10px;
	float:left;
}

.atalhos-menu {
	width:24px;
	height: 24px;
}

#context_menu_add, #context_menu_del  {
	background-color: #ddd;
	width: 115px;
	font-size: 10pt;
	color: #000;
	position: absolute;
	display: none;
}

#context_menu_add ul, #context_menu_del ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}
			
#context_menu_add ul li, #context_menu_del ul li {
	padding: 2px 10px;
	-moz-border-radius: 5px 5px;
	cursor: default;
}
			
#context_menu_add ul li:hover, #context_menu_del ul li:hover {
	background-color: #ddd;
	color: #000;
	cursor:pointer;
}

#context_menu_add ul a:visited, #context_menu_del ul a:visited {
    color: #FFF;
}

#context_menu_add ul a:link, #context_menu_add ul a:visited , #context_menu_add ul a:hover, #context_menu_add ul a:active,
#context_menu_del ul a:link, #context_menu_del ul a:visited , #context_menu_del ul a:hover, #context_menu_del ul a:active{
	text-decoration: none
}		

/*****************  Frame menu - pwsr00B.aph  ****************/
/***********Generico***************/
.fundo_menu{
	background: #ffffff;/*#5CBEE1;*/
}

.link_menu {
	color: #FFFFFF;
	text-decoration:none;
	background-color:#0C72B0;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	display:block;
    box-shadow: 0 2px 1px 0 rgba(145, 145, 145, 0.3);
	border-radius: 8px;
}
.linl_menu:hover {
	color: #FFFFFF;
	text-decoration:none;
	background-color:#5CA5E2;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	display:block;
}

.link_menu:active {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	background-color:#5CA5E2;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	display:block;
}

.sub_link_menu {
	color: #0C72B0;
	text-decoration:none;
	background-color:#f9f9f9;
	border-bottom:#f9f9f9 solid 1px;
	border-top: #ccc solid 1px;
	display:block;
    box-shadow: 0 2px 1px 0 rgba(145, 145, 145, 0.3);
	border-radius: 8px;
}
.sub_link_menu:hover {
	color: #FFFFFF;
	text-decoration:none;
	background-color:#5CA5E2;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	display:block;
}


ul#primary-nav,
ul#primary-nav ul {
	margin: 0;
	padding: 0;
	width: 100% !important; /* Largura do Menu Items */
	heigth: 30px; /* Altura do Menu Items */
	/*border-bottom: 1px solid #ccc;*/
	background: #fff; /* IE6 Bug */font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	}

ul#primary-nav li {
	position: relative;
	list-style: none;
	padding-top: 5px;
	}

ul#primary-nav li a {
	display: block;
	text-decoration: none;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
	}
ul#primary-nav li a img{
	vertical-align: middle;
	width: 13px; 
	height: 28px;
	hspace: 6;
	border: 0;
	}
.menuparent-item{
	margin: 0 0 0 10px;	
	font-weight:normal;
}

/* Fix IE. Hide from IE Mac \*/
* html ul#primary-nav li { float: left; height: 1%; }
* html ul#primary-nav li a { height: 1%; }
/* End */

ul#primary-nav ul {
	/*position: absolute;*/	/*Abre o sub menu lateralmente ao menu principal*/
	/*)display: none;*/		/* Fecha o sub menu ao sair do sub menu*/
	left: 209px !important; 			/* Set 1px less than menu width */
	top: 0;
	width: 100% !important; 
	}

ul#primary-nav li ul li a { padding: 2px 5px; } /* Sub Menu */

ul#primary-nav li:hover ul ul,
ul#primary-nav li:hover ul ul ul,
ul#primary-nav li.over ul ul,
ul#primary-nav li.over ul ul ul { display: none; } /* Inicia os sub-menus fechados */

ul#primary-nav li:hover ul,
ul#primary-nav li li:hover ul,
ul#primary-nav li li li:hover ul,
ul#primary-nav li.over ul,
ul#primary-nav li li.over ul,
ul#primary-nav li li li.over ul { display: block; } /* The magic */

ul#primary-nav li.menuparent { background: transparent url(../imagens-rh/mais.bmp) right center no-repeat; }

ul#primary-nav li.menuparent:hover,
ul#primary-nav li.over { background-color: #f9f9f9;}

ul#primary-nav li a:hover { 
	background-color:#5CA5E2;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	}
/*************************************/
/*****************  Frame principal - pwsr00C.aph  ****************/

/*input, select{
	color: #495c60;
    font-family: 'Helvetica-std',Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    font-size: 13px;
	border: 1px solid #D1D1D1;
	height: 28px;
    margin-right: 10px;	
    box-shadow: 0 2px 1px 0 rgba(145, 145, 145, 0.3);
	border-radius: 5px;
}
input[type="checkBox"] {
	height: 25px;	
}

input[type="radio"] {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	border-radius: 0px;
}*/
/******** PARTE GENÉRICA DIALOG POPUP **************/
#boxes #mask{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#666;
	display:none;
	left:0;
	top:0;
	opacity:0.70;
	filter: Alpha(opacity=2);
	z-index:9000;
	-moz-opacity:0.70;
}

#boxes #dialog{
	width:auto; 
	height:auto;
	top:50%;
	left:50%;
	background-color:#EDEDED;
	border-radius: 5px;
	/*margin-top:-150px;
	margin-left: -300px;*/
}

#boxes .window {
	position:absolute;
	left:0;
	 top:0;
	 width:440px;
	height:200px;
	display:none;
	z-index:9999;
}

#boxes #dialog #sup {
	width: 100%;
	height: 36px;
	background-color: #0c72b0;
	top: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position:absolute;
}
		
#boxes #dialog #sup img {
	width: 30px;
	height: 30px;
	margin-top: 2.5px;
	margin-right: 3px;
	float: right;
	cursor: pointer;
	display: block;
}

#boxes #dialog #popcontainer {
bottom: 0;
width: 99.8%;
height: 90.8%;
margin-top:30px;
}

/********    POPUP DIALOG ATALHOS ***********/
#boxes #dialog #popcontainer .img-sug-ata
{
	width:50px;
	height:50px;
}

#boxes #dialog #popcontainer .divImgs
{
   width: 50px;
   float: left;
   margin-left: 13px;
   margin-top: 10px;
}

#boxes #dialog #popcontainer .radioImgs
{
	margin-left: 19px;
	border:1px solid red;
}

#boxes #dialog #popcontainer #labelAta{
	display: inline-block;
	width:100%;
	text-align: left !important;
	margin-left: 15px;
	margin-top: 10px;
}

#boxes #dialog #popcontainer #containerImg
{
	width:95%;
    height: auto;
	display:inline-block;
	border:1px dashed #ccc;
	border-radius:5px;
	background-color: #ccc;
	margin-left: 15px;
}

#boxes #dialog #popcontainer #uploadImg{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

#boxes #dialog #popcontainer #uploadImg #urlImg{
	width:579px;
}

#boxes #dialog #popcontainer #uploadImg #BConfirmaAta{
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

/**************************NOTICIAS NO PORTAL*******************************/

#newsSpace
{
	width:100%;
	margin-top:5px;
}

.linkNews 
{
	font-family: Sans-Serif; 
	font-size: 75%; 
	color: #616161;
	font-weight:bold;


}

#newsTitle {
	margin-bottom: 0;
	width: 100%;
	background-color: #5CA5E2;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
	height: auto;
}

#newsTitle p 
{
	font-family: Sans-serif; 
	color: #fff; 
	margin-bottom: 0; 
	word-wrap: break-word; 
	font-size: 25px; 
}

#newContainer {
    display: table;
	width: 98%;
	background-color: #f9f9f9;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #616161;
	text-decoration: none;
	padding: 10px;
}

#cab {
	background-color: #00A9C7; 
	cursor:pointer; margin:0px; 
	width:100%; height:100%; 
	display:table
}

#cab:hover 
{
	background-color: #32BAD2;
}

#cab h4 {
	font-family: sans-serif; 
	color: #fff; 
	display:table-cell; 
	vertical-align:middle;
}

.imgCabSpan{
	display: table-cell;
	vertical-align: middle;
}

.imgCab{
	vertical-align:middle;
}

.markInv{  /*classe que oculta campo codigo da grid de dados*/
	display: none; 
}

.hideCmp{ /*classe que oculta campo*/
	display: none;
}

/*********************ESTILO ESPECIFICO PARA POPOVER DE CAMPOS OBRIGATORIOS*********************/
	.popover-cmpOb{
    	border: 1px solid #FF8100 !important;
		background-color: #FFF2B5 !important; 
	}

	/* Popover Header */
	.popover-cmpOb > .popover-title {
    	background-color: #f8c80a !important; 
    	color: #000000 !important; 
	}

	/* Popover Body */
	.popover-cmpOb > .popover-content {
    	background-color: #FFF2B5 !important;
    	color: #000000 !important;
	}

	.popover-cmpOb.top .arrow:after {
  		border-top-color: #FFF2B5 !important;
	}

	/* Popover Arrow */
	.popover-cmpOb.top > .arrow {
    	border-top-color: #FF8100 !important;
	}	
/*************************************************************************/


/*************************ESTILO RECURSO DE GLOSA*************************/
#tRecursoItens_wrapper {
	padding-top: 15px;
}

table#tRecursoItens thead > tr > th {
	padding: 10px 5px 10px 5px;
	background-color: #009EB7;
	color: white;
}
table#tRecursoItens tbody td {
	padding-left: 5px;
}

table#tRecursoItens td input.field_glosa {
	border:0;
	border-bottom: 1px solid #ccc;
	height: 40px;
}

table#tRecursoItens td textarea {
	border: 1px solid #ccc;
	width: 95%;
}

table#tRecursoItens tr.even,
table#tRecursoItens tr.even input.field_glosa,
table#tRecursoItens tr.even textarea {
	background-color: #f3f3f3;
}

table#tRecursoItens tr textarea,
table#tRecursoItens td input.field_glosa:focus {
	outline: none
}
/*************************************************************************/