
/*body {
	background-image:url(../imagens/body-fundo.gif);	
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
}*/

.body-login {
	height: 100%;
	background-position: center;
	background: #c5d7e3 url(.../imagens/login_body-fundo.gif) repeat-x top;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

.body-topo {
	background:url(../imagens/topo_fundo.jpg) repeat-x fixed;
	background-color:#333333;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

.body-menu {
	background:url(../imagens/menu_fundo.jpg) repeat-y;
	background-color:#333333;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

.body-conteudo {
	background: url(../imagens/conteudo_body-fundo.gif) right top fixed;
	background-color:#333333;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

.tab_fundo{
	background:url(../imagens/tab_fundo.jpg) repeat-x;

}

/*A:hover {
	TEXT-DECORATION: underline !important;
}
A:link {
	TEXT-DECORATION: none;

}
A:active {
	
}

A:visited {
	TEXT-DECORATION: none;
}*/

.texto {
	FONT-SIZE: 11px; 
	COLOR: #454545; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	line-height:18px;
}

.textoBold {
	FONT-SIZE: 11px;
	COLOR: #454545;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.textoPeq {
	FONT-SIZE: 9px; 
	COLOR: #757575; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.textoPeqRadio {
	FONT-SIZE: 9px; 
	COLOR: #757575; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	CURSOR:default;
}

.textoPeqBold {
	FONT-SIZE: 9px;
	COLOR: #757575;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}


.combo {
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border-style:none;
	background: url(imagens/input_fundo.gif);
	width:160px;
	height:22px;
	padding-left:6px;
	padding-top:5px;
	line-height:20px;
}

.comboselect {
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-color:#36373B;
	width:160px;
	height:18px;
	padding-top:2px;
}

.combo1 {
	FONT-SIZE: 9px;
	color:#666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #999999;

}

.linksPeq, .links {
	FONT-WEIGHT: bold;
	FONT-SIZE: 9px;
	COLOR: #49577E;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline !important;
	line-height: 15px;
}

.links {
	FONT-SIZE: 11px;
}

.links_login {
	FONT-SIZE: 9px;
	COLOR: #7C87A4;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline !important;
}

.titulo {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 20px; 
	COLOR: #49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.sub-titulo {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: ; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.botao {
	FONT-SIZE: 9px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #333333;
	font-weight: bold;
	margin: 1px;
	padding: 1px;
	cursor:hand;
}

.tabform, .tabform1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	font-weight:bold;
	text-indent:4px;
	color:#333333;
	line-height:20px;
	border-top: #ffffff solid 1px;
	border-bottom: #F1F1F1 solid 1px;
	background-color:#FFFFFF;
}

.tabform1 {
	text-indent:8px;
	background-color: #F7F7F7;
}

.tab_borderazul{
	border-bottom:#E5E5E5 solid 1px;
	border-top:#E5E5E5 solid 1px;
	border-left:#E5E5E5 solid 1px;
	border-right:#E5E5E5 solid 1px;
}

/* ################################################################################################################################ */
/* ######################################################### MENU GERAL ########################################################### */
/* ################################################################################################################################ */


ul {
	margin-left:-32px;
	margin-bottom:4px;
	list-style-type:none;
}
/*li a{
	
	line-height:20px;
	margin-left:0px;
	text-indent:10px;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	background-color:#F5F5F5;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;

}*/
/*li a:hover, li a:active { 
	background-color:#DBDBDB;
	text-decoration:none !important;
}*/
	
/* ##################################### MENU ###################################### */
#divMenu{
	position:relative;
	width:206px;
	display:block;
	margin-top:-16px;
}

.submenu{
	position:relative;
	width:206px;
	display:block;
	margin-top:0px;
	margin-bottom:-4px;
	left:-7px;
	text-indent:15px;

}

.submenu li a{background-color:#E5E5E5; border-bottom: #CCCCCC solid 1px; border-top: #FFFFFF solid 1px;}
.submenu li a:hover{background-color:#C1C1C1;}

.Botoes {
  font-family:Verdana;
  font-size:9px;
  font-weight: bold;
  background-repeat: no-repeat; 
  background-position: center; 
  background-image: url(imagens/button.gif);
  width: 60px;
  height: 25px;
  border: none;
  padding-bottom: 3px;
  _padding-bottom: 1px;
}

.BemVindo {
  font-family:Verdana;
  font-size:20px;
  font-weight: bold;
  border: none;
}


.tituloLoginGde {
font-family:Verdana;
font-size:16px;
font-weight: bold;
color:#49577E;
}
.FundoLogin{
	background-color:#F2F2F2;
}

.TarjaTopoLogin {
background-color:#F2F2F2;
}
