a:hover {  text-decoration: underline}
a:link {  text-decoration: none}
a:active {  text-decoration: none}
.submenu { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #0C3B62; text-decoration: none }
.texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
	text-decoration: none
}
.links { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #105775; text-decoration: none ; font-weight: bold}
.links-grande { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0059B3; text-decoration: none ; font-weight: bold }
.links-branco {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #0C3B62; text-decoration: none}
.FundoTabela {
	background-color: #FFFFFF;
}

.FundoTrPesquisa {
	background-color: #959595;
}

.FundoTrQuest {
	background-color: Silver;
}

.FundoTrGrupo {
	background-color: #CDCDCD;
}

.FundoTrSubGrupo {
	background-color: #CDCDCD;
}

.FundoTrTitulo {
	background-color: #104575;
}

.FundoTrTituloSub {
	background-color: EFEFEF;
}

.FundoTrTituloSub2 {
	background-color: #CCCCCC;
}

.FundoTitulo {
	background-color: #CCCCCC;
}

.TextoTitulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-decoration: none;
	font-weight : bold;
}


.TextoLimite{
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: Navy;
	text-decoration: none;
	font-weight : bold;
}


.FundoGrupo {
	background-color: Navy;
}

.TextoGrupo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: White;
	text-decoration: none;
	font-weight : bold;
}

.TextoAlert{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-weight : bold;
}

.TextoPergunta{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Black;
	text-decoration: none;
	font-weight : bold;
}

.TextoDescricao
{
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #003366; text-decoration: none
}

.TextoObjetivo
{
	font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000; text-decoration: none
}

.box {
	height: 20px;
	width: 120px;
}
.TarjaTopoLogin {

	text-decoration: none;
	background-color: #426285;
	height: 6px;
}
.FundoLogin {
	text-decoration: none;
	background-color: #7BA0CA;

}
.TituloLogin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #000000;
	font-weight: normal;


}
.TituloLoginGde {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #CEEEFF;
	text-decoration: none;
	font-weight: bold;
}
.comboselect {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px #CCCCCC double;
}
.combo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #333333;
	margin: 1px;
	padding: 1px;

}
.Botoes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	margin: 2px;
	padding: 2px;
	cursor: hand;
	border: 1px solid #000000;


}
.FundoPontilhado {
	text-decoration: none;
	background-image: url(pontilhado.gif);
	height: 5px;


}
.FundoPontilhadoVertical {

	text-decoration: none;
	background-image: url(pontilhado_vertical.gif);
	height: 5px;
}
