a:hover {  text-decoration: underline}
a:active {  }
.texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;


}


.Scroll {
SCROLLBAR-FACE-COLOR: #DEDEDE; 
SCROLLBAR-HIGHLIGHT-COLOR: #DEDEDE; 
SCROLLBAR-SHADOW-COLOR: #ffffff; 
SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
SCROLLBAR-ARROW-COLOR:  #ffffff; 
SCROLLBAR-TRACK-COLOR: #ffffff; 
SCROLLBAR-DARKSHADOW-COLOR: #DEDEDE;

}


.combo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #333333;
	margin: 1px;
	padding: 1px;

}
.comboRO {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #333333;
	margin: 1px;
	padding: 1px;
    background-color: #F0F0F0;
}
.comboselect {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px #CCCCCC double;
}
.comboselectRO {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px #CCCCCC double;
	background-color: #F0F0F0;
}
.links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #DB6F0B;
	text-decoration: none;
	font-weight: bold;
}
.links-clientes {
font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #003366; text-decoration: none
}
.textobold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6395c4;
	text-decoration: none;
	font-weight: bold;

}
.textoItalico {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 7F7F7F;
	text-decoration: none;
	font-style: italic;

}
.titulo {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #19167D;
	text-decoration: none;
	font-weight: bold;
}
.links-detalhes {
font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: FF0000; text-decoration: none
}
.TituloMenor {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #19167D;
	text-decoration: none;
	font-weight: normal;
}
.TituloMenorBold {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #19167D;
	text-decoration: none;
	font-weight: bold;
}
.Botoes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	margin: 2px;
	padding: 2px;
	cursor: hand;
	border: 1px outset #000000;


}
.TarjaTopoMenu {
	text-decoration: none;
	height: 6px;
	background-image: url(apmenu-right.jpg);




}
.FundoMenu {
	text-decoration: none;
	background-image: url(apmenu-right.jpg);

}


.FonteMenu {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #19167D;
	text-decoration: none;
	font-weight: bold;
}


.FonteSubMenu {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #19167D;
	text-decoration: none;
}
.FundoSubMenu {
	text-decoration: none;
	background-image: url(apmenu-right.jpg);

}
.DivisoriaOpçõesMenu {
	text-decoration: none;
	background-color: #6680A6;
	background-image: url(apmenu-right.jpg);

}
.TarjaTopoLogin {

	text-decoration: none;
	background-color: #426285;
	height: 6px;
}
.FundoLogin {


	text-decoration: none;
	background-color: #F7F7F7;
}
.FundoClaro {



	text-decoration: none;
	background-color: #fbfbfb;
}
.TituloDestaques {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #19167D;
	text-decoration: none;
	font-weight: bold;
}
.TextoDestaques {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #777777;
	text-decoration: none;
	font-weight: normal;
}
.FundoDestaques {




	text-decoration: none;
	background-color: #E5E5E5;
}
.FundoPontilhado {
	text-decoration: none;
	background-image: url(pontilhado.gif);
	height: 5px;


}
.FundoPontilhadoVertical {

	text-decoration: none;
	background-image: url(pontilhado_vertical.gif);
	height: 5px;
}
.TituloTabelas {



	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.FundoTituloTabela {


	text-decoration: none;
	background-color: #495E73;
}
.TarjaTopoCor {
	text-decoration: none;
	height: 6px;
	background-image: url(pontilhado.gif);
	background-color: #6699CC;


}
.FundoTabelaDestaques {




	text-decoration: none;
	background-color: #495E73;
}
.comboselect-pequeno {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px solid #CCCCCC;
	width: 132px;
	clear: none;
	float: none;
	text-decoration: none;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	clip:  rect(1px 1px 1px 1px);




}
.comboselect-grande {


	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px #CCCCCC double;
	width: 395px;
}
.links-pagina {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;

}
.TituloMenorLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #19167D;
	font-weight: normal;
	text-decoration: underline;

}
.tituloLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #19167D;
	font-weight: bold;
	text-decoration: none;

}
