/*
 *  Inicialização genérica *
 */ 
* {
  padding: 0;
  margin: 0;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
  margin: 0;
  padding: 0;
}

a img,:link img,:visited img {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body { 
  overflow:hidden; 
  color:rgb(0, 0, 0);
  background-color:#fbffff;
}

a, a:link, a:visited, a:hover { 
  text-decoration: none;
  background-color: transparent;
  color: #333333;
}                  

a:hover { 
  font-weight:bold;
}

table {
 border-collapse:collapse;
 table-layout: fixed;
}

textarea {
  font-family: "Courier New", Courier, monospace ! important;
}

.auxHiddenObjects {
  display:none;
}

small {
  font-size: 85%;
}

.infoImport {
  font-size: 120%;
  font-weight:bold;
  color:red;  
}

.buttonContainer {
  text-align:center;
  width:100%;
}

button {
  background-repeat:no-repeat; 
  background-position:left top;
  border: none;
  margin: 1px 8px 0px 1px;
  padding: 0px;
  width: 109px;
  height: 23px;
}

button.small,
button.ativosmall,
button.inativosmall {
  width: 30px;
}

.shadow {
  border-top:1px solid rgb(127, 157, 185); 
  border-left:1px solid rgb(127, 157, 185); 
  border-right:2px solid rgb(127, 157, 185); 
  border-bottom:2px solid rgb(127, 157, 185); 
}

.shadow2 {
  border-top:1px solid rgb(51, 51, 51);
  border-left:1px solid rgb(51, 51, 51);
  border-bottom:2px solid rgb(51, 51, 51);
  border-right:2px solid rgb(51, 51, 51);
}

.TarjaTopoLogin {
  text-decoration: none;
  background-color: #426285;
  height: 6px;
  color:rgb(0, 0, 0);
}

.FundoLogin {
  font-size: 16px;
  color: #CEEEFF;
  text-decoration: none;
  font-weight: bold;
  background-color: #7BA0CA;
}

.titulo {
  font-weight: bold;
  text-align: left;
  padding-left:15px;
}

table.buildForm {
  width:100%;  
}
           
table.buildForm tr.meiaLinha {
  height:5px;
}

td.buildFormLabel {
  text-align: left;
}

td.buildFormBody {
  text-align: left;
  width:100%;
}

td.buildFormOneCol {
  text-align: left;
  width:100%;
}

table.browse {
  text-align:left;
}

table.browse_tree {
  max-width: 30%;
  max-height: 60%;
}

label,
label.key {
  color: #666666;
  margin-left: 8px;
  background-color: transparent;
}
         
label.key {
  font-weight:bold;
}

input, 
input.form_current,
input.key,
input.chkbox,
input.radio,
textarea,
select {
}

table.duallist select
{
  width: 100%;
}

input.chkbox,
input.radio
{
  border: none;
  background-color: transparent;
}

input.statusInheritance
{
  border: 1px dashed green;
}                          

input.key
{
  background-color: #dfebeb;
}

.error, input.error
{
  border-color: rgb(250, 75, 75);
  background-color:rgb(250, 190, 190); 
  color:rgb(0, 0, 0); 
}

.readOnly
{
  background-color: rgb(248, 246, 239); 
  color: rgb(119, 119, 119);
}

.titulo
{
  color: #FFFFFF;
}

.StatusLabel
{
  font-weight: bold;
  background-repeat:no-repeat; 
  background-position:left top;
  padding-left: 10px;
}

.StatusDwLabelMini {
  display:inline;
  float: left;
  width: 40%;
}

.StatusUserLabelMini {
  display:inline;
  width: 55%;
}

.StatusLogoutLabelMini {
  display:inline;
  float: right;
}

.StatusInfo
{
  font-weight: bold;
}

div.page_header,
div.page_header_mini
{  
  background-repeat:repeat; 
  background-position:left top;
}  

div.page_footer a
{
  color: #FFFFFF;
}

.container,
.containerTree
{                
  margin-top: 5px;
  width:80%;
}

.containerTree
{
  width:70%;
}

.form_superior_esq
{
  background-repeat:no-repeat;
  background-position:left top;
}

.form_superior
{ 
  background-repeat:repeat-x;
  text-align:center;
  font-weight:bold;
  color:rgb(255, 255, 255);    
  font-size: 100%;
}

.form_superior_dir
{ 
  background-repeat:no-repeat;
  background-position:right top;
}

.form_body 
{ 
  padding-left:3px;
}

div.form_body 
{
  background-repeat: repeat-y; 
  background-position: left top;
}

table.buildList
{
  width: 60%;
  text-align: left;
  margin-top:5%;
}

div.icone_mini, div.icone_list  
{ 
  width:98%;
  height:270px;
  border-top:1px solid rgb(127, 157, 185); 
}

div.icone_mini 
{ 
  margin-top:8px;
  margin-bottom:5px;
  padding:5px;
  overflow:scroll; 
}

div.icone_mini div 
{ 
  width:75px;
  height:84px;
  float:left;
  display:inline;
  margin-right: 8px;
  margin-bottom: 3px;
  text-align:center;
}

div.icone_mini span 
{ 
  display:block;
  border-top:1px solid rgb(127, 157, 185); 
  width:100%;
  font-size:120%;
  color:rgb(0, 0, 0); 
  margin-top: 10px;
  background-color:rgb(211, 226, 240); 
  height:18px;
}

div.icone_mini .icone_desc 
{ 
  visibility:hidden;
  display:none;
}

div.icone_mini img, div.icone_mini img.marked 
{ 
  border:1px solid rgb(204, 255, 255);
  width:50px;
  height:50px;
  margin-top: 5px;
}

div.icone_mini img.marked
{                
  border: 1px dotted red;
}

div.icone_list 
{ 
  margin-top:8px;
  margin-bottom:5px;
  padding:5px;
  overflow:scroll; 
}

div.icone_list img, div.icone_list img.marked 
{ 
  border:1px solid rgb(204, 255, 255);
  width:25px;
  height:25px;
  margin-right:5px;
}
  
div.icone_list img.marked
{                
  border: 1px dotted red;
}

div.icone_list span { 
  width:110px;
  font-size:120%;
}

div.icone_list .icone_desc 
{ 
  visibility:visible;
  margin-left:10px;
}

.links, .linksAtivo
{
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}

div.page_body, div.page_body_tree_menu
{
  width:100%; 
  overflow: auto;
  padding:0px;
  /*overflow:hidden; */
}

div.page_body_tree_menu {
  width: 80%;
  height:70%;
  padding:0px;
  padding-top:3px;
}

div.formMsgHint
{
  position:absolute;
  display:none;
  font-size:90%;
  padding:3px;
  border-top:1px solid rgb(255, 128, 128);
  border-left:1px solid rgb(255, 128, 128);
  border-bottom:2px solid rgb(255, 128, 128);
  border-right:2px solid rgb(255, 128, 128);
  background-repeat:repeat;
  width:230px;
  height:12px;
  text-align: left;
}

div.formMsg, div.combordaMsgSrv
{
  border:none;
  padding:5px;
  width:100%;
  color:red;
}

div.combordaMsgSrv 
{ 
  border-top:1px solid rgb(255, 128, 128);
  border-left:1px solid rgb(255, 128, 128);
  border-bottom:2px solid rgb(255, 128, 128);
  border-right:2px solid rgb(255, 128, 128);
  display:block;
  margin-bottom:10px;
  width:95%;               
  text-align:left;
}

div.formWarningSrv
{
  text-align:center;
  font-weight:bold;
  font-size:150%;
  z-index:99;
  line-height:150%;
  padding:5px;
  position:absolute;
  top:40%;
  width:70%;
  left:15%;
}

div.folder
{
  font-weight: bold;
  background-color: #333333;
  color: #FFFFFF;
  text-align:center;
}

div.folder table
{
  width:80%
}

div.folder td
{
  text-align: center;
  height: 20px;
}

div.subFolder
{
  font-weight: bold;
}

a.subFolder
{
  color: #333333;
}

a.subFolderAtivo
{
  color: #FFFFFF !important;
  font-weight: bold;
}

div.subFolder table
{
  width:80%;
}

div.subFolder td
{
  text-align: center;
  height: 20px;
  width: 12%;
  background-color: transparent;
}

.menu
{
  color: #FFFFFF !important;
  font-weight: bold;
  width: 127px;
}

a.menu
{
  color: #FFFFFF !important;
}

.menuAtivo 
{
  color: #FFFFFF !important;
  font-weight: bold;
  background-repeat:no-repeat; 
  width: 127px;
}

a.menuAtivo
{
  color: #FFFFFF !important;
  background-image:none;
  background-color: transparent;
  font-weight: bold;
}

.subMenu, .subMenuAtivo
{
  font-size: 10px;
  color: #FFFFFF !important;
  text-decoration: none;
  background-color: #7BA0CA;
}

.subMenuAtivo
{
  font-weight: bold;
}

div.form_browse, div.form_browse_tree
{
  height: 320px;
  overflow: scroll;
  border: 1px solid;
}

div.form_browse_tree {
  width: 50px;
  height: 360px;
}

.zebraOff
{
  background-color: #EFEFEF;
  color: #666666;
}

.zebraOn
{    
  background-color: #FFFFFF;
  color: #666666;
}

.rollOverzebraOff, .rollOverzebraOn
{
}

.barratitulobrowse
{
  background-color: rgb(202, 202, 202);
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

.textotitulobrowse
{
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

div.DwTabbedGroup
{
  background-color: rgb(251, 255, 255);
  width: 100%;
}

table.DwTabbed
{
  background-color: rgb(251, 255, 255);
  height: 15px;
  color: #999999;
}

table.DwTabbed td
{
  background-position: center top; 
  background-repeat: no-repeat; 
  width: 90px;
}

table.DwTabbed td div
{
  width: 100%;
  overflow : hidden;
  white-space: nowrap;
  padding-right: 4px;
  text-align: center;
}

table.DwTabbed td.current
{
  font-weight: bold;
}

div.DwTabbedChild
{         
  border:1px solid #acc4dd;
  display:none;
  width:99%;
  min-height:300px;
  overflow-y:auto; 
  overflow-x:hidden; 
}

tr.comborda_body
{
  background-position: right top; 
  background-repeat: repeat-y; 
}

td.comborda_sup_esq
{
  background-position: left top; 
  background-repeat: no-repeat;
  height: 15px;     
}

td.comborda_sup
{
  height: 15px; 
  background-position:top;
}

td.comborda_sup_dir
{
  height: 15px;
  background-position: left top; 
  background-repeat: no-repeat;
}

td.comborda_esq, td.comborda_tit_esq
{
}

td.comborda_dir, td.comborda_tit_dir
{
}

td.comborda_inf_esq
{
  height: 20px;
  background-position: left top; 
  background-repeat: no-repeat;
}

td.comborda_inf
{
  height: 20px;
}

td.comborda_inf_dir
{
  height: 20px;
  background-position: left top; 
  background-repeat: no-repeat;
}

div.toolbar_normal, div.toolbar_label
{ 
  width:100%;
  margin-top:3px;
}

div.toolbar_normal div, div.toolbar_label div
{
  min-width:22px;
  max-width:126px;
  height:35px;
  float:left;
  display:inline;
  margin-right:5px;
}

div.toolbar_normal img, div.toolbar_label img 
{ 
    width:15px;
    height:15px;
}

div.toolbar_normal .toolbar_label 
{ 
  display:none;
}

div.toolbar_label .toolbar_label 
{ 
  display:block;
  font-size: 80%;
}
        
div.dropMenu
{
  display:none;
  position: absolute;
  z-index: 99;
  background-repeat:repeat;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.dropMenu table
{
  width: 160px; /* Width of Menu Items */
}  

div.dropMenu table tr
{
  margin-bottom: 2px;
}

div.dropMenu table tr.over
{
}  

div.dropMenu table td.over
{
  background-repeat:no-repeat; 
  background-position:center center;
}  

div.dropMenu table td.current
{
  background-repeat:no-repeat; 
  background-position:center center;
}  

div.dropMenu table tr td a img
{
  margin-right: 5px;
}  

div.dw_h1 {
  color: rgb(0, 0, 0);
  background-color: rgb(154,165,253);
  text-align: center;
  font-weight:bold;
  font-size: 130%;
  width: 100%;
  margin-top: 6px;
  line-height: 150%;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
  line-height: 200%;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.dw_h2
{
  padding: 5px;
  color: #101775;
  background-color:rgb(209,218,234);
  border-bottom: 1px solid #101775;
  border-top: 1px solid #000000;
  text-align: center;
  font-size: 100%;
  width: 100%;
  line-height: 150%;
  margin-top: 10px;
  margin-bottom: 10px;
}

span.dw_title
{
  color: #101775;
  font-weight:bold;
  line-height: 150%;
  margin: 6px;
}

span.dw_subtitle {
  font-weight: bold;
  width:100%;
  font-size: 110%;
  margin-top: 8px;
  margin-bottom: 6px;
  color:#101775;
}

span.attention {
  font-weight:600;
  font-style: italic;
}

span.warning {
  color: rgb(255, 0, 0);
  background-color: rgb(209,218,234);
  font-weight:500;
}

div.progressBar
{
  position:relative; 
  width:240px; 
  height:24px;
  background-color:#eeeeee;
  float: right;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(51, 51, 51);
  margin-right: 12px;
}

div.progressBarEmbolo,
div.progressBarErro,
div.progressBarFim
{
  position:absolute; 
  left:2px; 
  top:2px; 
  width:236px; 
  height:20px; 
  clip:rect(0px, 0px, 20px, 0px); 
  background-repeat: repeat;
}                                      

div.progressBarErro
{
}

div.progressBarFim
{
}

/* Tabela Genérica de exibição de dados numa table */
div.displayData {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.displayData table.displayData 
{
  width:100%;
  border: 1px solid #ACC4DD;
}

div.displayData table.displayData thead,
div.displayData table.displayData th {
    background-color: rgb(202,202,202);
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight:bold;
    padding-top:3px;
    text-transform:capitalize;
  white-space: nowrap;
}

div.displayData table.displayData td {
    padding-left: 3px;
    padding-right: 3px;
  text-align:left;
  
}

div.displayData table.displayData tr.zebraOn,
div.displayData table.displayData tr.zebraOn:hover,
div.displayData table.displayData tr.rollOverZebraOn {
  background-color: #FFFFFF;
  color: #666666;
}

div.displayData table.displayData tr.zebraOff,
div.displayData table.displayData tr.zebraOff:hover,
div.displayData table.displayData tr.rollOverZebraOff {
  background-color: #EFEFEF;
  color: #666666;
}

div.displayData table.div.displayData  tr.zebraLastLine {
  background-image:url(themes/xp/zebraEnd.gif);
  background-repeat:repeat-x;
  background-position: top;
  white-space: nowrap;
}

div.calendar
{
  position: absolute;
  display:none;
  width: 300px; 
  background-color: rgb(229, 229, 229);
  color: rgb(0,0,0);
  border: 1px solid blue;
  line-height:12px;
  font-size: 10px;
}

div.calendar table
{
  width:100%;
}

div.calendar table caption
{
  font-weight:bold;
  background-color: blue;
  color: white;
}
                      
div.calendar table td.weekend
{
  background-color: rgb(255, 242, 242);
}

div.calendar table thead th
{
  text-align: center;
  font-weight:bold;
  background-color: rgb(201, 201, 201);
  border-bottom: 1px solid black;
  height:11px;
  font-size: 10px;
}

div.calendar table tbody th
{
  text-align: center;
  font-weight:bold;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height:11px;
  font-size: 10px;
  background-color: rgb(180, 180, 180);
}

div.calendar table tbody td,
div.calendar table tbody td.today,
div.calendar table tfoot td
{
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height:11px;
  font-size: 10px;
}
                            
div.calendar table tbody td.today
{
  background-color: rgb(255, 127,0);
}

div.calendar
{
  position: absolute;
  display:none;
  width: 300px; 
  background-color: rgb(229, 229, 229);
  color: rgb(0,0,0);
  border: 1px solid blue;
  line-height:12px;
  font-size: 10px;
}

div.calendar table
{
  width:100%;
}

div.calendar table caption
{
  font-size: 12px;
  color: white;
  font-weight: bold;
  background-color: #101775;
  text-align:center;
}
                      
div.calendar table td.weekend
{
  background-color: #f3bc53;
}

div.calendar table thead th
{
  text-align: center;
  font-weight:bold;
  background-color: #7BA0CA;
  border-bottom: 1px solid black;
  height:11px;
  font-size: 10px;
  color: white;
}

div.calendar table tbody th
{
  text-align: center;
  font-weight:bold;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height:11px;
  font-size: 10px;
  background-color: white;
}

div.calendar table tbody td,
xdiv.calendar table tbody td.today,
xdiv.calendar table tbody td.selectedDay,
xdiv.calendar table tbody td.destakDay,
div.calendar table tfoot td
{
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height:11px;
  font-size: 10px;
  background-color: white;
}

div.calendar table tbody td.today {
  color: white;
  border-top: 1px solid #1d7ab5;
  border-right: 1px solid #1d7ab5;
  border-bottom: 2px solid #1d7ab5;
  border-left: 2px solid #1d7ab5;
}

div.calendar table tbody td.selectedDay
{
  color: white;
  background-color: #d5e3f2;
}

div.calendar table tbody td.destakDay
{
  background-repeat:no-repeat; 
  background-position:right center;
}

div.page_tree 
{
  float: left;
  width: 17%;
  height: 493px;
  overflow: scroll;
  display: inline;
  padding-top: 3px;
  padding-left: 3px;
}

div.queryOnline
{
  width:100%
}

div.queryOnline table
{
  width:100%;
  background-color: #f0f0f0;
}

div.queryOnline table td.aba
{
  font-size: 9px;
  color:#003366;
  font-weight: bold;
  height: 20px;
  width: 170px;
  text-decoration: none;
  background-repeat:no-repeat; 
  background-position:center top;
  text-align: center;
}

div.queryOnline table td.aba_desc
{
  padding-left: 20px;
}

#queryDefIframe,
#queryExecIframe
{
  border: 1px solid #acc4dd;
  background-color: rgb(250, 250, 250);
  margin: 0px;
  padding: 0px;
}

div.helpQbeMain, div.helpQbe {
  position: absolute;
  display:none;
  line-height:16px;
  font-size: 10px;
  border: 1px solid black;
  background-color: rgb(202, 202, 202);
  width: 605px;
  height: 360px;
  overflow:no;
}

div.helpQbe {
  line-height:12px;
  position: relative;
  width: 600px;
  height: 300px;
  overflow:scroll;
}

div.helpQbeMain table.tableHelpQbe thead {
  text-align: center;
  font-size: 12px;
  font-weight:bold;
  background-color: blue;
  color: white;
}

div.helpQbeMain table.tableHelpQbe th {
  background-color: rgb(202, 202, 202);
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

div.helpQbe table.tableHelpQbe tr.zebraOff,
div.helpQbe table.tableHelpQbe tr.zebraOff:hover,
div.helpQbe table.tableHelpQbe tr.rollOverZebraOff
{
  background-color: #EFEFEF;
  color: #666666;
}

div.helpQbe table.tableHelpQbe tr.zebraOn,
div.helpQbe table.tableHelpQbe tr.zebraOn:hover,
div.helpQbe table.tableHelpQbe tr.rollOverZebraOn
{
  background-color: #FFFFFF;
  color: #666666;
}

.hint
{
  border: none;
  display: none;
  position: absolute;
  background-repeat:repeat;
  z-index:99;
}

.hint div
{        
  text-align: left;
  font-weight: bold;
  border: 1px solid #CBA41B;
  width: 200px;
  padding: 3px;
}

.FormContainer
{
  max-width:100%;
  max-height:400px;
  overflow-x: hidden;
  overflow-y: auto;
}	

.pesquisaQBE 
{
  height:34px;
}


/* aviso de comunicação e processamento */
#waitInProcess
{
  position: absolute;
  display:none;
  background-color: yellow;
  color: #333333;
  font-weight:bold;
  right: 5px; 
  top:5px;
  z-index:100;
  font-size:100%;
  padding-right:5px;
  padding-left:5px;
  padding-top:2px;
  padding-bottom:3px;
  width: 120px;
  height: 20px;
  text-align: center;
  vertical-align:center;
}

/* caixa de dialogo modal */
#frmModalForm
{
  position:absolute;
  display:none;
  left:0px;
  top:0px;  
  width:100%;
  height:100%;
  z-index:100;
  padding-left:15%; 
  padding-right:15%; 
  background-image: url(themes/opaco.gif);
  max-width:980px; 
}

#divModalForm
{
  position:relative;
  text-align:center;
  font-weight:bold;
  padding:5px;
  padding-bottom:10px;
  position:absolute;
  top:20%;
  width:50%;
  background-color: #dddddd;
}

#divModalFormTitle
{
  font-weight:bold;
  font-size:150%;
  line-height:130%;
  background-color: #FBD5DC;
}

#divModalForm textarea
{
  font-family: Courier New,Courier,monospace;
  width:100%;
}

#divModalFormMsg
{
  color: red;
  background-color: transparent;
  height:24px;
  width:100%;
}

#divModalFormCode,
#edConfCode
{
  font-weight:bold;
  font-size:130%;
  line-height:130%;
  background-color: #FBD5DC;
  width:120px;
  height:36px;
  border: 1px solid black;
  letter-spacing:2px;
  color: #333333;
}

#edConfCode
{
  text-align: center;
  background-color: white;
}
