@import url(base.css);

button
{
	background-image:url(themes/msiga/bt_ativo.gif); 
}

button.ativo
{
	background-image:url(themes/msiga/bt_focus.gif); 
}

button.inativo
{
	background-image:url(themes/msiga/bt_inativo.gif); 
}

button.small
{
	background-image:url(themes/msiga/bt_ativo_peq.gif); 
}

button.ativosmall
{
	background-image:url(themes/msiga/bt_focus_peq.gif); 
}

button.inativosmall
{
	background-image:url(themes/msiga/bt_inativo_peq.gif); 
}

.titulo
{
	background-color: #19167D;
}
                    

.StatusLabel
{
	color: #4678AE;
	Background-image:url(themes/msiga/ico_flechinha.gif); 
}

.StatusInfo
{
	color: #093C6F;
}

div.page_header,
div.page_header_mini
{  
	background-image:url(themes/msiga/topo_fundo_esquerdo.gif); 
}  

div.page_footer
{
	background-color:#101775; 
	color: #FFFFFF;
}

div.formMsgHint
{
	background-image:url(themes/msiga/opaco.gif);
}
           
div.combordaMsgSrv 
{ 
  background-image:url(themes/msiga/bg_error.gif);
}

div.formWarningSrv
{
	background-image:url(themes/msiga/opaco.gif);
}

div.folder
{
	font-size: 12px;
	background-color: #101775;
	color: #19167D;
}

div.subFolder
{
	font-size: 12px;
	color: #FFFFFF;
	background-color: #7BA0CA;
}

a.subFolder
{
	color: RGB(25,49,109);
}


.menuAtivo 
{                          

	background-image: url(themes/msiga/aba_current.gif);
}

.rollOverzebraOff, .rollOverzebraOn 
{
  background-image:url(themes/p10/bg_rollover.png); 
}

table.DwTabbed td
{
	background-image: url(themes/msiga/menu_config_nao.gif);
}

table.DwTabbed td.current
{
	background-image: url(themes/msiga/menu_config_sim.gif);
}

tr.comborda_body
{
  background-image: url(themes/msiga/tabela_meio_dir.gif);
}

td.comborda_sup_esq
{
	background-image:url(themes/msiga/tabela_topo_esq.gif); 
}

td.comborda_sup
{
	background-image:url(themes/msiga/tabela_meio_topo.gif); 
}

td.comborda_sup_dir
{
	background-image:url(themes/msiga/tabela_topo_dir.gif); 
}

td.comborda_esq
{
	background-image:url(themes/msiga/tabela_meio_esq.gif); 
}

td.comborda_dir
{
	background-image:url(themes/msiga/tabela_meio_dir.gif); 
}

td.comborda_inf_esq
{
	background-image:url(themes/msiga/tabela_baixo_esq.gif); 
}

td.comborda_inf
{
	background-image:url(themes/msiga/tabela_meio_baixo.gif); 
}

td.comborda_inf_dir
{
	background-image:url(themes/msiga/tabela_baixo_dir.gif); 
}           

div.dropMenu
{
	background-image:url(themes/msiga/bg_dropMenu.gif);
}

div.dropMenu table tr.over
{
  background-image: url(themes/msiga/menu_current.gif);
}  

div.dropMenu table td.over
{
  background-image: url(themes/msiga/menu_arrow.gif);
}  

div.dropMenu table td.current
{
  background-image: url(themes/msiga/menu_arrow_current.gif);
}  

div.progressBarEmbolo,
div.progressBarErro,
div.progressBarFim
{
  background-image:url(themes/msiga/pbar.gif);
}                                      

div.progressBarErro
{
  background-image:url(themes/msiga/pbarErro.gif);
}

div.progressBarFim
{
  background-image:url(themes/msiga/pbarFim.gif);
}

div.queryOnline table td.aba
{
	background-image: url(themes/msiga/aba_topico.gif);
}

.hint
{
	background-image:url(themes/msiga/opaco_hint.gif);
}

.texto
{
	font-size: 12px;
  line-height: 18px;
	color: #666666;
  background-color: transparent;
	text-decoration: none;
	font-weight: normal;
}

a.subMenuAtivo .subMenuAtivo
{
	font-weight: bold;
	color: #FFFFFF !important;
}
