* {
  font-family: Verdana, Arial, Helvetica, sans-serif ! important;
  font-size: 10px;
  line-height:12px;
}

body { 
  background-color:#fefefe;
}

button
{
	background-image:url(themes/p10/bt_ativo.gif); 
	font-size: 9px;
	margin-bottom: 3px;
}

button.ativo
{
	background-image:url(themes/p10/bt_focus.gif); 
}

button.inativo
{
	background-image:url(themes/p10/bt_inativo.gif); 
}

button.small
{
	background-image:url(themes/p10/bt_ativo_peq.gif); 
}

button.ativosmall
{
	background-image:url(themes/p10/bt_focus_peq.gif); 
}

button.inativosmall
{
	background-image:url(themes/p10/bt_inativo_peq.gif); 
}

.titulo
{
	background-color: #333333;
}
                    

.StatusLabel
{
	font-size: 9px;
	color: #A8A8A8;
	background-image:url(themes/p10/ico_flechinha.gif); 
}

.StatusInfo
{
	font-size: 9px;
	color: #FFFFFF;
}

div.page_header,
div.page_header_mini
{  
	background-image:url(themes/p10/topo_fundo_esquerdo.gif); 
}  

div.page_footer
{
	background-color:#858DA3; 
}

div.page_footer a
{
  color: #000000;
}

div.formMsgHint
{
	font-size: 9px;
	background-image:url(themes/p10/opaco.gif);
}

div.combordaMsgSrv 
{ 
  background-image:url(themes/p10/bg_error.gif);
}

div.formWarningSrv
{
	background-image:url(themes/p10/opaco.gif);
}

div.folder
{
	background-color: #333333;
	color: #FFFFFF;
}

div.subFolder
{
	color: #A8A8A8;
	background-color: #858DA3;
}

.menuAtivo 
{
	background-image: url(themes/p10/aba_current.gif);
}

td.subMenu {
}

.rollOverzebraOff, .rollOverzebraOn 
{
  background-image:url(themes/p10/bg_rollover.png); 
}

table.DwTabbed td
{
  background-image: url(themes/p10/menu_config_nao.gif);
}

table.DwTabbed td.current
{
	background-image: url(themes/p10/menu_config_sim.gif);
}

tr.comborda_body
{
  background-image: url(themes/p10/tabela_meio_dir.gif);
}

td.comborda_sup_esq
{
	background-image:url(themes/p10/tabela_topo_esq.gif); 
}

td.comborda_sup
{
	background-image:url(themes/p10/tabela_meio_topo.gif); 
}

td.comborda_sup_dir
{
	background-image:url(themes/p10/tabela_topo_dir.gif); 
}

td.comborda_esq
{
	background-image:url(themes/p10/tabela_meio_esq.gif); 
}

td.comborda_tit_esq
{
	background-image:url(themes/p10/tabela_meio_esq.gif); 
}

td.comborda_dir
{
	background-image:url(themes/p10/tabela_meio_dir.gif); 
}

td.comborda_tit_dir
{
	background-image:url(themes/p10/tabela_meio_dir.gif); 
}

td.comborda_inf_esq
{
	background-image:url(themes/p10/tabela_baixo_esq.gif); 
}

td.comborda_inf
{
	background-image:url(themes/p10/tabela_meio_baixo.gif); 
}

td.comborda_inf_dir
{
	background-image:url(themes/p10/tabela_baixo_dir.gif); 
}

div.toolbar_label .toolbar_label 
{ 
	font-size: 9px;
}

div.dropMenu
{
	background-image:url(themes/p10/bg_dropMenu.gif);
}

div.dropMenu table tr.over
{
  background-image: url(themes/p10/menu_current.gif);
}  

div.dropMenu table td.over
{
  background-image: url(themes/p10/menu_arrow.gif);
}  

div.dropMenu table td.current
{
  background-image: url(themes/p10/menu_arrow_current.gif);
}  

span.attention 
{
	font-size: 9px;
}

div.progressBarEmbolo,
div.progressBarErro,
div.progressBarFim
{
  background-image:url(themes/p10/pbar.gif);
}                                      

div.progressBarErro
{
  background-image:url(themes/p10/pbarErro.gif);
}

div.progressBarFim
{
  background-image:url(themes/p10/pbarFim.gif);
}

div.queryOnline table td.aba
{
	background-image: url(themes/p10/aba_topico.gif);
}

.hint
{
	background-image:url(themes/p10/opaco_hint.gif);
}

div.icone_mini span 
{ 
  background-color:#CCCCCC;
}

div.icone_mini img
{ 
  border:none;
}

div.icone_list img
{ 
  border:none;
}
  
div.icone_list span { 
  color:#000000;
}

div.icone_list .icone_desc 
{ 
  color:#444444;
}

div.calendar table tbody td.destakDay
{
  background-image:url(themes/p10/ic_query_alerts_on.gif);
}

div.page_body, div.page_body_tree_menu
{
  height:30%;
}

#waitImg {
  top: 45%;
  left: 45%;
  position: absolute;
  z-index:1000;
}

table.browse > tbody > tr {
  height: 18px;
}

table.browse > tbody > tr > td {
  padding-top: 4px;
}

