@import url(base.css);

body { 
  background-image:url(themes/xp/bg_login_full.gif);
  background-repeat:repeat;
}

.shadow
{
  border-style:solid;
  border-color:rgb(247, 245, 239) rgb(214, 205, 171) rgb(214, 205, 171) rgb(247, 245, 239);
  border-width:1px 2px 2px 1px; 
  padding: 2px;
}

.auxHiddenObjets
{
  display:none;
}

a:visited, a:hover, a:link
{
  color: blue;
  text-decoration:none;
}

body.body_iframe { 
  margin:0px;
  background: transparent;
  color:rgb(0, 0, 0);
  overflow:hidden; 
}

small { 
  font-size: 80%;
}

img
{
  border: none;
}

div.login{
  background-repeat:no-repeat;
  background-position:left center;
  background-image:url(themes/xp/bg_login_esq.gif);
  width:50%;
  height:100%;
}

table.login
{
  background-repeat:no-repeat;
  background-position:left center;
  background-image:url(themes/xp/bg_login_esq.gif);
  width:95%;
  height:75%;
}

button.ocioso, button.ativo, 
button.ociososmall, button.ativosmall
{
  font-weight:normal;
  background-repeat:no-repeat;
  border:none;
  background-position:center top;
  width:110px;
  height:23px;
  text-transform:lowercase;
  margin:5px;
  cursor: pointer;                          
  padding:0px; 
  overflow: hidden;
  white-space: nowrap;
}

button.ocioso {
  background-image:url(themes/xp/bt_ocioso.gif);
}

button.ativo {
  background-image:url(themes/xp/bt_ativo.gif);
  font-weight:bold;
}

button.ativosmall {
  width:23px ! important;
  margin-top: 0px ! important;
  margin-bottom:0px ! important;
  background-image:url(themes/xp/bt_ativo_small.gif) ! important;
  font-weight:bold;
}

button.ociososmall {
  width:23px ! important;
  margin-top: 0px ! important;
  margin-bottom:0px ! important;
  background-image:url(themes/xp/bt_ocioso_small.gif) ! important;
}
     
form
{
}
    
form table.container
{
}

input.form_input, input.form_error, input.form_current, input.key, input.readOnly
{
}    

select.form_input, select.form_error, select.form_current, select.key, select.readOnly 
{
  width:100%;
}    

input.readOnly, select.readOnly 
{
  background-color:rgb(248, 246, 239); 
  color:rgb(189, 189, 189); 
}

input.form_error, textarea.form_error, select.form_error  
{
  border-color:rgb(250, 75, 75); 
  background-color:rgb(250, 190, 190); 
  color:rgb(0, 0, 0); 
}

input.form_current, select.form_current 
{
  border-color:rgb(91, 195, 91);
  background-color:rgb(225, 255, 225);
  color:rgb(0, 0, 0); 
}

input.key, select.key {
  background-color:rgb(255, 255, 200);
  font-weight:bold;
  color:rgb(0, 0, 0); 
}

input.checkHierNode, input.checkHierChild 
{
	width:50px;
}

input.checkHierChild 
{
	width:60px;
}

input.form_file 
{
  width: 250px;
}

label.key 
{
  font-weight:bold;
}

label.form_label 
{
}

label.form_label u 
{
  text-decoration: none;
  border-bottom: 2px solid gray;
}

label.form_label code 
{
  font-weight:bold;
}

div.icone_mini, div.icone_mini div, div.icone_list  
{ 
  border-top:1px solid rgb(127, 157, 185); 
  border-left:1px solid rgb(127, 157, 185); 
  border-right:2px solid rgb(127, 157, 185); 
  border-bottom:2px solid rgb(127, 157, 185); 
  width:98%;
  height:270px;
}

div.icone_mini 
{ 
  margin-top:8px;
  margin-bottom:5px;
  padding:5px;
  overflow:scroll; 
}

div.icone_mini div 
{ 
  width:95px;
  height:95px;
  float:left;
  display:inline;
  margin-right: 8px;
  margin-bottom: 3px;
  text-align:center;
}

div.icone_mini span 
{ 
  display:block;
  background-color:rgb(211, 226, 240); 
  border-top:1px solid rgb(127, 157, 185); 
  width:100%;
  font-size:120%;
  color:rgb(0, 0, 0); 
}

div.icone_mini .icone_desc 
{ 
  visibility:hidden;
  display:none;
}

div.icone_mini img, div.icone_mini img.marked 
{ 
  border:1px solid rgb(204, 255, 255);
  width:100%;
  height:100%;
}

div.icone_mini img.marked
{                
  border: 1px dotted red;
}

div.icone_mini a, div.icone_mini a:visited { 
  text-decoration:none;
}

div.icone_mini a:hover { 
  text-decoration:underline;
  font-weight:bold;
}

div.icone_list { 
  margin-top:8px;
  margin-bottom:5px;
  padding:5px;
  overflow:scroll; 
}

div.icone_list img, div.icone_list img.marked { 
  border:1px solid rgb(204, 255, 255);
  width:25px;
  height:25px;
  margin-right:5px;
}
  
div.icone_list img.marked
{                
  border: 1px dotted red;
}

div.icone_list span { width:110px;
  font-size:120%;
}

div.icone_list .icone_desc { visibility:visible;
  margin-left:10px;
}

div.icone_list a:link, div.icone_list a:visited { 
  text-decoration: none;
}

div.icone_list a:hover { 
  font-weight:bold;
}

div.page_header 
{  
  margin:0px; 
  margin-bottom:3px; 
  background-image:url(themes/xp/bg_all.gif); 
  background-repeat:repeat; 
  background-position:left top;
}  

div.page_header table 
{ 
  border-bottom:1px dashed rgb(102, 51, 255); 
  width:100%;
}

div.page_footer 
{
  margin:0pt; 
  background-image:url(themes/xp/bg_all.gif); 
  background-repeat:repeat; 
  background-position:left top;
}

div.page_footer table 
{ 
  border-top:1px dashed rgb(102, 51, 255); 
  width:100%;
}

div.page_body, div.page_body_max { 
  width:100%; 
  overflow: auto;
  padding:0px;
}

div.page_body_max 
{ 
}

div.page_body_iframe {
  padding:0px;
  left: 0px;        
}

span.DwTitlePreview {

}

div.page_body_tree_menu {
  width: 80%;
  padding:0px;
  float:right;  
  display: inline;
}

div.page_body_red
{
  width:98%; 
  margin-bottom:0px;
  margin-top:3px;
  margin-left:1%;
  margin-right:1%;
  padding:5px;
  border: 2px groove;
} 

div.folder
{
  width:100%; 
  margin-top: 3px;
  margin-bottom: 0px;
}

div.subFolder
{
  width:100%; 
  margin-top: 0px;
  margin-bottom: 3px;
}

ul.nav, ul.nav_online
{ 
  height:20px;
  background-image:url(themes/xp/aba_bg.gif); 
  background-repeat:repeat-x;
  background-position:left bottom;
  margin:0px; 
  margin-bottom:3px;
  padding-left:5px;
  background-color:rgb(246, 246, 241);
  color: rgb(0, 0, 0);
}          

ul.nav li, ul.nav_online li {
  list-style: none; 
  display: inline;
}  

ul.nav li a, ul.nav a:hover, ul.nav_online li a, ul.nav_online a:hover { 
  float:left;
  text-decoration:none;
  text-align:center;
  width:155px;
  background-image:url(themes/xp/aba_ociosa.gif); 
  background-repeat:no-repeat; 
  background-position:center top;
  padding-top:5px;
  font-size: 80%;
}
	
ul.nav a:hover, ul.nav_online a:hover {
  background-image:url(themes/xp/aba_ativa.gif); 
  background-repeat:no-repeat; 
  background-position:center top;
  font-weight:bold;
}

ul.nav ul.nav, ul.nav_online ul.nav_online
{
  background-color:rgb(231, 231, 226);
  color: rgb(0, 0, 0);
}

div.toolbar_normal, div.toolbar_label
{ 
  width:100%;
  margin-top:3px;
}

div.toolbar_normal div, div.toolbar_label div { 
    width:22px;
    height:17px;
    float:left;
    display:inline;
    margin-right:5px;
}

div.toolbar_normal img, div.toolbar_label img { 
    width:15px;
    height:15px;
}

div.toolbar_normal a:visited, div.toolbar_label a:visited { 
    text-decoration: none;
}

div.toolbar_normal a:hover, div.toolbar_label a:hover { 
    text-decoration:underline;
}

div.toolbar_normal a:hover img, div.toolbar_label a:hover img { 
}

div.toolbar_normal .toolbar_label 
{ 
  display:none;
}

div.toolbar_label .toolbar_label 
{ 
  display:block;
  font-size: 80%;
}

div.formMsgHint
{
 position:absolute;
 display:none;
 font-size:75%;
 padding:3px;
 border-top:1px solid rgb(255, 128, 128);
 border-left:1px solid rgb(255, 128, 128);
 border-bottom:2px solid rgb(255, 128, 128);
 border-right:2px solid rgb(255, 128, 128);
 background-image:url(themes/xp/bg_error.gif);
 background-repeat:repeat;
 width:230px;
 height:12px;
 text-align: left;
}

div.formMsg, div.formMsgSrv, 
{ 
  border:none;
  padding:5px;
  width:100%;
  display: inline;
  font-size:80%;
}

div.formMsgSrv { 
  background-image:url(themes/xp/bg_error.gif);
  border-top:1px solid rgb(255, 128, 128);
  border-left:1px solid rgb(255, 128, 128);
  border-bottom:2px solid rgb(255, 128, 128);
  border-right:2px solid rgb(255, 128, 128);
  display:block;
  margin-bottom:3px;       
  width:95%;               
  text-align:letf;
}   

div.formWarningSrv, div.formWarningFull { 
  background-image:url(themes/xp/bg_warn.gif);
  border-top:1px solid rgb(91, 195, 91);
  border-left:1px solid rgb(91, 195, 91);
  border-bottom:2px solid rgb(91, 195, 91);
  border-right:2px solid rgb(91, 195, 91);
  text-align:center;
  font-weight:bold;
  top:40%;
  margin-left:15%;
  margin-right:15%;
  width:70%;
  position:absolute;
  z-index:99;
  font-size:150%;
  line-height:150%;
  padding:5px;
}

div.formWarningFull {
  top:10%;
  height:80%;
}

div.dropMenu { 
  display:none;
  position: absolute;
  z-index: 99;
  color: rgb(0, 0, 0);
  background-image:url(themes/xp/bg_dropMenu.gif);
  background-repeat:repeat;
  border-top: 1px solid blue;
  border-left: 1px solid blue;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
}

ul.primary-nav,
ul.primary-nav ul 
{
  margin: 0;
  padding: 0;
  width: 160px; /* Width of Menu Items */
  border-bottom: 1px solid #ccc;
  font: menu;
}

ul.primary-nav li 
{
  position: relative;
  list-style: none;
  font: menu;
}

ul.primary-nav li a 
{
  font: menu;
  display: block;
  text-decoration: none;
  padding: 5px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: none;
}

ul.primary-nav ul 
{
  position: absolute;
  display: none;
  left: 159px; /* Set 1px less than menu width (ul.primary-nav)*/
  top: 0;
}

ul.primary-nav li ul li a 
{ 
  padding: 2px 5px; 
} /* Sub Menu Styles */

ul.primary-nav li:hover ul ul,
ul.primary-nav li:hover ul ul ul,
ul.primary-nav li.over ul ul,
ul.primary-nav li.over ul ul ul 
{ 
  display: none; 
} /* Hide sub-menus initially */

ul.primary-nav li:hover ul,
ul.primary-nav li li:hover ul,
ul.primary-nav li li li:hover ul,
ul.primary-nav li.over ul,
ul.primary-nav li li.over ul,
ul.primary-nav li li li.over ul 
{ 
  display: block; 
} /* The magic */

ul.primary-nav li.menuparent 
{ 
  background: transparent url(themes/xp/menu_arrow.gif) right center no-repeat;
}

ul.primary-nav li.menucurrent 
{ 
  background: transparent url(themes/xp/menu_current.gif) left top;
  background-repeat:repeat-y;
}

ul.primary-nav li.menuparent:hover,
ul.primary-nav li.over 
{ 
  background-image:url(themes/xp/bg_dropMenuOver.gif);
  background-repeat:repeat;
  color: rgb(0, 0, 0);
}

ul.primary-nav li a
{ 
  white-space: nowrap;
}

ul.primary-nav li a:hover 
{ 
  color: #E2144A; 
  background-image:url(themes/xp/bg_dropMenuOver.gif);
  background-repeat:repeat;
}

div.form_bg, div.form_topo, div.form_body, div.form_body_r, div.form_base
{
  width: 100%;
}

div.form_body {
  background-repeat: repeat-y; 
  background-position: left top;
  background-image: url(themes/xp/form_bg_l.gif);
}

div.form_browse 
{
  height: 320px;
  overflow: scroll;
  border: 1px solid blue;
}

div.form_browse table.browse
{
  height:100%;
  text-align:left;
}

div.form_browse table.browse thead
{
  background-color:rgb(154,165,253);
  font-weight:bold;
  text-transform:capitalize;
  color: rgb(0, 0, 0);
}

div.form_browse table.browse th
{
  border-bottom:2px dashed rgb(0, 87, 217);
  overflow: hidden;
  white-space: nowrap;
}

div.form_browse table.browse thead.pesquisaQBE
{
  background-color: rgb(170, 195, 236);
  color: rgb(0, 0, 0);
}

div.form_browse table.browse thead.pesquisaQBE th
{
  border-bottom:2px solid rgb(0, 87, 217);
}

div.form_browse table.browse td 
{
  xoverflow: hidden;
  xwhite-space: nowrap;
}

div.form_browse table.browse td img
{
  padding-top:2px;
}

div.form_browse table.browse tr.zebraOn
{
  background-color: rgb(220,236,247);
  color: rgb(0, 0, 0);
}

div.form_browse table.browse tr.zebraOff
{
}

div.form_browse table.browse tr.zebraLastLine
{
  background-image:url(themes/xp/zebraEnd.gif);
  background-repeat:repeat-x;
  background-position: top;
}

div.form_browse table.browse tr.zebraEmpty
{
  background: transparent;
}

div.form_browse table.div.form_browse tr.zebraLastLine
{
  background-image:url(themes/xp/zebraEnd.gif);
  background-repeat:repeat-x;
  background-position: top;
}

table.div.form_browse  tr.zebraEmpty
{
  background: transparent;
}

/* Tabela Genérica de exibição de dados numa table */
div.displayData {
}

div.displayData table.displayData 
{
    border:none; 
    width:100%;
}

div.displayData table.displayData thead {
    background-color:rgb(154,165,253);
    color: rgb(0, 0, 0);
    font-weight:bold;
    padding-top:3px;
    text-transform:capitalize;
}

div.displayData table.displayData th
{
    border-bottom:2px dashed rgb(0, 87, 217);
}

div.displayData table.displayData td {
    padding-left: 3px;
    padding-right: 3px;
}

div.displayData table.displayData tr.zebraOn {
  background-image:url(themes/xp/zebraOn.gif);
  background-repeat:repeat-x;
  background-position: top;
}

div.displayData table.div.displayData  tr.zebraOff
{
  background-image:url(themes/xp/zebraOff.gif);
  background-repeat:repeat-x;
  background-position: top;
}

div.displayData table.div.displayData  tr.zebraLastLine {
  background-image:url(themes/xp/zebraEnd.gif);
  background-repeat:repeat-x;
  background-position: top;
}

div.form { width: 100%;
}

table.form { 
  width:90%;
}

.form_body, .form_esquerdo, .form_direito, 
.form_meio_esq, .form_meio, .form_meio_dir, 
.form_meia_linha_esq, .form_meia_linha, .form_meia_linha_dir
{ 
  background:rgb(239, 235, 222);
  color: rgb(0, 0, 0);
}

.form_body { padding-left:3px;
}

.form_esquerdo, .form_inferior_esq, .form_superior_esq, .form_meio_esq
.form_direito, .form_inferior_dir, .form_superior_dir, .form_meio_dir
.form_meia_linha_esq, .form_meia_linha_dir
{ 
  width:10px;
}

.form_superior_esq 
{
  height:30px;
  background-image:url(themes/xp/form_superior_esq.gif);
  background-repeat:no-repeat;
  background-position:left top;
}

.form_superior { 
  height:30px;
  background-image:url(themes/xp/form_superior.gif);
  background-repeat:repeat-x;
  text-align:center;
  font-weight:bold;
  color:rgb(255, 255, 255);    
  background-color:rgb(255, 255, 254);
  font-size: 100%;
}

.form_superior small { 
  font-size: 75%;
}

.form_superior i {  font-size: 100%;
  font-style: italic;
}

.form_superior_dir { 
  height:30px;
  background-image:url(themes/xp/form_superior_dir.gif);
  background-repeat:no-repeat;
  background-position:right top;
}

.form_esquerdo, .form_meio_esq, .form_meia_linha_esq
{ 
  background-image:url(themes/xp/form_esquerdo.gif);
  background-repeat:repeat-y;
}

.form_direito, .form_meio_dir, .form_meia_linha_dir
 { 
  height:20px;
  background-image:url(themes/xp/form_direito.gif);
  background-position:right top;
  background-repeat:repeat-y;
}

.form_row_sep {
    border-bottom:2px solid blue;
}

.form_inferior_esq { 
  background-image:url(themes/xp/form_inferior_esq.gif);
  background-repeat:no-repeat;
}

.form_inferior { 
  height:4px;
  background-image:url(themes/xp/form_inferior.gif);
  background-repeat:repeat-x;
}

.form_inferior_dir {  
  width:4px;
  height:4px;
  background-image:url(themes/xp/form_inferior_dir.gif);
  background-position:right top;
  background-repeat:no-repeat;
}

.form_meia_linha, .form_meia_linha_esq, .form_meia_linha_dir
{ 
  height:5px;
}

.form_simples, .form_superior_simples {
	width: 15px;
	height: 9px;
}

span.form_superior_simples, .form_superior_simples 
{
	background-image: url(themes/xp/form_superior_simples.gif);
	background-repeat: repeat-x;
}

div.page_tree 
{
 background-image:url(themes/xp/tree_bg.gif);
 background-repeat:repeat-y;
 float:left;
 width:18%;
 height:500px;
 padding-left:2px;
 padding-right:2px;
 overflow:scroll;
}

div.barTree, 
div.barTree1,
div.barTree2,
div.barTree3 {
  text-decoration:none; 
  text-align:left;
  width:154px;
  height:20px;
}

div.barTree1 {
margin: 5px; 
width:145px;
}

div.barTree2 {
margin: 10px; 
width:140px;
display:none;
}

div.barTree3 {
margin: 15px; 
width:135px;
display:none;
}

div.barTree a, div.barTree a.aba_current, div.barTree a:visited,
div.barTree1 a, div.barTree1 a.aba_current, div.barTree1 a:visited,
div.barTree2 a, div.barTree2 a.aba_current, div.barTree2 a:visited,
div.barTree3 a, div.barTree3 a.aba_current, div.barTree3 a:visited {
  display:block;
  background-color:#fbffff;
  color:#000000;
  text-decoration:none;
  text-align:left;
  width:135px;
  height:20px;
  padding-left:20px;
}

img.treeIcone {
  width:18px;
  height:18px;
  border:0px;
  margin-right: 5px;
}

div.barTree a:hover {
background-image:url(themes/xp/tree_ativa.gif);
background-repeat:no-repeat; 
background-position:center top;
font-weight:bold;
}

div.dw_h1 
{
  background-color:#D3D3D3;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight:bold;
  font-size: 130%;
  width: 100%;
  margin-top: 6px;
  line-height: 150%;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
}

div.dw_h2 {
  padding: 3px;
  color: #000000;
  background-color:#D3D3D3;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  text-align: center;
  font-size: 100%;
  width: 100%;
  line-height: 150%;
}

span.dw_title {
  color:white;
  font-weight:900;
  background-color:rgb(154,165,253);
  width: 100%;
  margin: 6px;
}

span.dw_subtitle {
  font-weight: bold;
  width:100%;
  border-bottom: 2px solid rgb(154,165,253);
  font-size: 110%;
  margin-top: 8px;
  margin-bottom: 6px;
}

span.dw_attention {
  font-weight:600;
  font-size: 80%;
  font-style: italic;
}
               
span.dw_warning {
  color: rgb(255, 0, 0);
  background-color: rgb(0, 255, 0);
  font-weight:500;
}

span.dw_text {
}

tr.rollOverZebraOn {
  background-color: #fbc95d;
  color: rgb(0, 0, 0);
}

tr.rollOverZebraOff {
  background-color: #fbd582;
  color: rgb(0, 0, 0);
}

span.operAnd, span.operOr,
span.declarFilter, span.declarCaption,
span.declarTarget
{
  font-weight:bold;
  background-color: transparent;
}

span.operAnd
{
  color: blue;
}
 
span.operOr 
{
 color: green;
}
 
span.declarFilter
{
  color: red;
}

span.declarCaption 
{         
  color: gray;
}

span.declarTarget 
{
 color: gray;  
 font-family: "Courier New",Courier,monospace;
}

.progressBar
{
  position:relative; 
  width:250px; 
  height:24px;
  background-color:#eeeeee;
  float: right;
  color: rgb(0, 0, 0);
}

.progressBarEmbolo,
.progressBarErro,
.progressBarFim
{
  position:absolute; 
  left:2px; 
  top:2px; 
  width:246px; 
  height:20px; 
  clip:rect(0px, 0px, 20px, 0px); 
  background-image:url(themes/xp/pbar.gif);
  background-repeat: repeat;
}                                      

.progressBarErro
{
  background-image:url(themes/xp/pbarErro.gif);
}

.progressBarFim
{
  background-image:url(themes/xp/pbarFim.gif);
}

.progressBarTop,
.progressBarLeft 
{
  position:absolute; 
  left:0px; 
  top:0px; 
  clip:rect(0px, 252px, 2px, 0px); 
  background-color:#c0c0c0;
  color: rgb(0, 0, 0);
}

.progressBarTop
{
  width:252px; 
  height:2px; 
  clip:rect(0px, 252px, 2px, 0px); 
}

.progressBarLeft
{
  width:2px; 
  height:24px; 
  clip:rect(0px, 2px, 24px, 0px); 
}

.progressBarBottom,
.progressBarRight
{
  position:absolute; 
  background-color:#777777;
  color: rgb(0, 0, 0);
}

.progressBarBottom 
{
  left:0px; 
  top:22px; 
  width:250px; 
  height:2px; 
  clip:rect(0px, 250px, 2px, 0px); 
}

.progressBarRight
{
  left:250px; 
  top:2px; 
  width:2px; 
  height:22px; 
  clip:rect(0px, 2px, 22px, 0px); 
}

.alertSampleMessage
{
  z-index: 99;
  visibility:hidden;
  position: absolute; 
  width:300px; 
  height:120px; 
  top: 30%;
  left: 60%;
  border-top:1px solid rgb(127, 157, 185); 
  border-left:1px solid rgb(127, 157, 185); 
  border-right:2px solid rgb(127, 157, 185); 
  border-bottom:2px solid rgb(127, 157, 185); 
  background-color:rgb(248, 246, 239); 
  color: rgb(0, 0, 0);
}   

.alertSampleMessageBody, 
.alertSampleExpr
{
  margin: 5px;
  padding: 5px;
  border-top:1px solid rgb(127, 157, 185); 
  border-left:1px solid rgb(127, 157, 185); 
  border-right:2px solid rgb(127, 157, 185); 
  border-bottom:2px solid rgb(127, 157, 185); 
  background-color:rgb(245, 245, 245); 
  width:100%;
  height: 80px;
  clip:rect(0px, 80px, 80px, 0px); 
  overflow: scroll;
  color: rgb(0, 0, 0);
}
              
.alertSampleExpr
{
  font-family: "Courier New",Courier,monospace;
}

.alertSampleMessageEnd
{        
   border-top:1px solid rgb(127, 157, 185); 
   border-left: none;
   border-right: none;
   border-bottom: none;
   height:25px;
   text-align: right;
}

span.dw_user {       
  height:22px;
  background-color: rgb(212, 221, 236); 
  border-top:1px dotted rgb(127, 157, 185); 
  color: rgb(0, 0, 0);
}

div.divFltrValueMenu {
   display: inline;
   float:left;
   width:40%;
}

div.divFltrValuePrinc {
   display: inline;
   float: right;
}

.DwColorsPaletteTrue,
.DwColorsPaletteFalse
{
  z-index: 99;
  visibility:hidden;
  position: absolute;
  width:300px;
  height:120px;
  border-top:1px solid rgb(127, 157, 185);
  border-left:1px solid rgb(127, 157, 185);
  border-right:2px solid rgb(127, 157, 185);
  border-bottom:2px solid rgb(127, 157, 185);
  background-color:rgb(248, 246, 239);
  color: rgb(0, 0, 0);
}

.DwColorsPaletteTrue
{
  top: 30%;
  left: 60%;
}

.DwColorsPaletteFalse
{
  top: 80%;
  left: 60%;
}

.DwAlertMsgTrue,
.DwAlertMsgFalse
{
  z-index: 99;
  visibility:hidden;
  position: absolute; 
  width:300px; 
  height:120px; 
  border-top:1px solid rgb(127, 157, 185); 
  border-left:1px solid rgb(127, 157, 185); 
  border-right:2px solid rgb(127, 157, 185); 
  border-bottom:2px solid rgb(127, 157, 185); 
  background-color:rgb(248, 246, 239); 
  color:rgb(0, 0, 0); 
}	
	
.DwAlertMsgTrue
{
  top: 30%;
  left: 60%;
}

.DwAlertMsgFalse
{
  top: 60%;
  left: 60%;
}
                          
#footer_esq, #footer_meio, #footer_dir
{
  font-size: 80%;
  color: blue;
  background-color:rgb(209, 246, 255);
}

#footer_esq
{
  text-align: left;
  padding-left: 15px;
}

#footer_meio
{
  font-weight:bold;
  text-align: center;
}

#footer_dir
{
  text-align: right;
  padding-right: 15px;
}

div.DwTabbedGroup, div.DwMainTabbedGroup {
	margin-right:5px;
	height: 270px;
	width: 99%;
}

div.DwMainTabbedGroup 
{
	border-top: 3px solid #B0C4DE;
	border-left: 5px dotted #D3D3D3; 
	border-right: 5px dotted #D3D3D3; 
	border-bottom: 5px dotted #D3D3D3; 
	padding-top: 0px;
}

div.DwTabbedPane {
	display:inline;
}

div.DwTabbed {
	color: #000000;
	display:inline;
	border-bottom: 3px solid #B0C4DE;
	background-color:#cee7ff;
	text-decoration:none;
	text-align:center;
	font: menu;
	padding-top: 10px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

div.DwTabbedSelected 
{
	font-weight: bold;
}
  
div.DwTabbedChild 
{
	display:none;
}

input.statusMarked {
}
  
input.statusNotMarked {
}
  
input.statusInheritance {
  border: 2px dotted rgb(91, 195, 91);
  background-color: rgb(225, 255, 225);
  color: rgb(0, 0, 0);
}

table.buildForm 
{
  width:100%;   
}

td.buildFormBody
{
  text-align: left;
  width:60%;
}

td.buildFormLabel
{
  text-align: right;
  width:40%;
}

td.buildFormOneCol
{
  text-align: left;
  width:100%;
}

table.buildFormTree 
{
	margin-left:25%;
	margin-right:5%;
	text-align: center;
}

table.buildList {	
  height: 100%;
  width: 85%;
  margin-left: auto; 
  margin-right: auto;
  text-align: left;
}

div.form_qbe 
{
  width: 300px;
  white-space: nowrap; 
}

div.calendar
{
  position: absolute;
  display:none;
  width: 300px; 
  background-color: rgb(229, 229, 229);
  color: rgb(0,0,0);
  border: 1px solid blue;
  line-height:12px;
  font-size: 10px;
}

div.calendar table
{
  width:100%;
  layout: fixed;
}

div.calendar table caption
{
  font-weight:bold;
  background-color: blue;
  color: white;
}
                      
div.calendar table td.weekend
{
  background-color: rgb(255, 242, 242);
}

div.calendar table thead th
{
  text-align: center;
  font-weight:bold;
  background-color: rgb(201, 201, 201);
  border-bottom: 1px solid black;
  height:11px;
  font-size: 10px;
}

div.calendar table tbody th
{
  text-align: center;
  font-weight:bold;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height:11px;
  font-size: 10px;
  background-color: rgb(180, 180, 180);
}

div.calendar table tbody td,
div.calendar table tbody td.today,
div.calendar table tfoot td
{
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height:11px;
  font-size: 10px;
}
                            
div.calendar table tbody td.today
{
  background-color: rgb(255, 127,0);
}
                            
div.chooseColor table tbody td
{
  border: none;
}

div.hlpqbe
{
  width: 600px; 
}

div.hlpqbe table tbody td
{
  border: none;
  text-align:left;
}

span.legenda
{
  color: gray;
}

span.legenda img
{

}

div.queryOnline {
	margin-top: 5px;	
}

div.onlineDefsChange {
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.queryDefinition, div.queryDefLabel, div.queryAction, div.queryActLabel {
}

div.queryAction {
	margin-top: 5px;
}

div.queryExecAction, div.queryDefAction, div.queryMsgLabel {
	display: none;
}

ul.nav_online, ul.nav_online ul.nav_online, ul.nav_online li { 
  background-color: transparent;
}          

ul.nav_online li a.online_left, ul.nav_online li a.online_left:hover {
	width:140px;
	height:22px;
	background-image:url(themes/xp/bt_exec_qry_online.gif);
	background-color: transparent;
	font-weight:bold;
	margin:0px;
}

ul.nav_online li a.online_center, ul.nav_online li a.online_center:hover {
	width: 700PX;
	height:22px;
	background-image:url(themes/xp/bt_exec_qry_online_center.gif);
	background-repeat: repeat;
	background-color: transparent;
	font-weight:bold;
	color: black;
	text-align: left;
	margin:0px;
}

ul.nav_online li a.online_right, ul.nav_online li a.online_right:hover {
	width:22px;
	height:22px;
	background-image:url(themes/xp/bt_exec_qry_online_right.gif);
	background-color: transparent;
}

ul.nav_online li a.online_expand, ul.nav_online li a.online_expand:hover {
	width:22px;
	height:22px;
	background-image:url(themes/xp/ic_expand_off.gif);
	background-color: transparent;
}