/*
 * *****************************************************************************
 * *****************************************************************************
 *
 * Decoração
 *
 * *****************************************************************************
 * *****************************************************************************
 */


/*
 * *****************************************************************************
 * Fundos
 * *****************************************************************************
 */
 

.background
{
	margin-top: 0px;
	margin-left: 0px;
	height: 100%;
	width: 100%;
	background-image: url('./bi_byyouimages/fundo_degrade.png');
	background-repeat: repeat-x;
}	


.centralContainer{
	margin-top: 20px;
	margin-left:1%;
	width: 1240px;
	height:850px;
	font-family:Arial;
	font-size:11px;
	color:#004a77;
	background: transparent;
}

.byyoulogo
{
	margin-top: 0px;
	margin-left: 0px;
	float:left;
	height: 104px;
	width: 219px;
	background-position: center;
	background-image: url('./bi_byyouimages/bi_by_logo.png');
	background-repeat: no-repeat;
	background-size: 219px 104px;
	position: absolute;
}	

.byyoumoresocial
{
	float:left;
	margin-top: 140px;
	margin-left: 0px;
	height: 59px;
	width: 559;
	background-image: url('./bi_byyouimages/bi_lgn_byyou_slogan.png');
	background-repeat: no-repeat;
	background-size: 559px 59px;
	position: absolute;	
}	

.containerLogin
{
	margin-top: 120px;
	margin-left:35%;
	float:left;
	height: 550px;
	width: 360px;	
	border: 1.5px solid #d9d9d9;
	background-color: white;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

.iconsbar
{
	margin-top: 440px;
	margin-left: 0px;
	float:left;
	height: 100px;
	width: 800px;
	position: absolute;
}	

.icons
{
	float:left;
	margin-top: 0px;
	margin-left: 0px;
	float:left;
	height: 71px;
	width: 800px;
	position: relative;
}	
.labelicons
{
	float:left;
	margin-top: 0px;
	margin-left:0px;
	width: 800px;
	height: 30px;
	font-family:Arial;
	font-size:13px;
	font-weight: bold;
	color:#000000;
	position: absolute;
}	

.learnmore
{
	float:left;
	margin-top: -40px;
	margin-left:830px;	
	width:170px;
	height:60px;
	font-family: Arial;
	font-size:16px;
	color:#000000;
	position: relative;
}	

.links
{
	font-size: 12px;
	font-family:Arial;
	color:#06517c;
	text-decoration: underline;
}	

.hrline
{
	float:left;
	margin-top: 590px;
	margin-left: -10.2%;
	width:100%; 
	height: 0.5px; 
	background-color: #f1f1f1; 
	color: #f1f1f1; 
	border-style:solid; 
	border-width: 1px; 
	border-color: #f1f1f1;
	position: absolute;
}	

.suport
{
	float: right;
	border: 1px solid #DDDDDD; 
	width: 75px; 
	height: 75px; 
	background-color: #DDDDDD; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}

.totvslogo
{
	float:right;
	margin-top: 605px;
	left:350px;
	width:61px; 
	height: 27px; 
	background-image: url('./bi_byyouimages/bi_totvs_logo_61x27.png');
	background-repeat: no-repeat;
	background-size: 61px 27px;
	position: relative;
}	

.greeting
{
	float: left;
	margin-top: 35px;
	margin-left: 1px;
	left: 15px;
	width: 290px; 
	height: 20px; 
	font-family: Arial;
	font-size: 15px;
	color: #747675; 
	font-weight: bold;
	border: none;
}	

.greetingId
{
	float: left;
	margin-top: 35px;
	margin-left: 1px;
	left: 15px;
	width: 290px; 
	height: 20px; 
	font-family: Arial;
	font-size: 12px;
	color: #747675;
	border: none;
}

.textlogin
{
	float: left;
	margin-top: 1px;
	left: 0px;
	width: 200px; 
	height: 15px;
	font-family: Arial;
	font-size: 14px;
	color: #747675; 
	/*font-weight: bold; */
}	

.textsenha1
{
	float: left;
	margin-top: 0px;
	margin-left: 2px;
	left: 0px;
	width: 200px; 
	height: 15px;
	font-family: Arial;
	font-size: 12px;
	color: #747675; 
	/*font-weight: bold;*/
}

.userlogin
{
	float: left;
	margin-top: 90px;
	margin-left:15px;
	left: 0px;
	width: 285px; 
	height: 60px; 
	position: absolute;
	border:none;
}	

.pwdlogin
{
	float: left;
	margin-top: 160px;
	margin-left: 1.7%;
	left: 0px;
	width: 285px; 
	height: 70px; 
	position: absolute;
	border:none;
}	

.inputlogin
{
	float: left;
	margin-top: 20px;
	left: 0px;
	height: 30px; 
	width: 280px; 
	font-family: Arial;
	font-size: 14px;
	color: #000000; 
	background-color: #FFFFFF; 
	border: 1px solid #d9d9d9; 
	position: absolute;
}	

.inputSenha
{
	float: left;
	margin-top: 1px;
	margin-left: 1px;
	left: 0px;
	height: 30px; 
	width: 280px; 
	font-family: Arial;
	font-size: 14px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #d9d9d9;
}	

.buttonlogin
{
	float: left;
	margin-top: 280px;
	margin-left: 0px;
	left: 200px;
	height: 25px; 
	width: 150px; 
	font-family: Arial;
	font-size: 14px;
	color: #000000; 
	background-color: transparent; 
	border: none;
	position: absolute;
}	

.btnlogin
{
	background-color: #1F739E; 
	font-family: Arial; 
	font-size:12px; 
	font: bold; 
	color: #FFFFFF; 
	width:100px; 
	height:30px; 
	padding: 2px;
	text-align:center;	
	border: 1px solid #01669F; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	cursor: pointer;
}	

.getPwd
{
	margin-bottom: 140px;
	position:absolute; 
	float:left; 
	left: 15px; 
	bottom:10px; 
	font-size: 14px;
}	

.message
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color:#2891CC;

}

.badmessage
{
	margin-left: 10px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: orange;
}

.imgTotvs
{
	margin-top: 20px;
	margin-left: 80px;
	height: 160px;
	width: 200px;
	background-image: url('./bi_byyouimages/logo.png');
	background-repeat: no-repeat;
}

.subcontainer
{
	border: 1px solid #E7E7E7; 
	height: 100px; 
	margin-top: 0px; 
	background-color: #F4F4F4; 
	background-repeat: no-repeat;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}