@import url(xp.css);

div.icone_mini div { 
  width:98px;
  height:98px;
}

div.icone_mini img.marked
{                
  -moz-opacity: 0.5;
}

div.icone_list img.marked
{                
  -moz-opacity: 0.5;
}                

div.icone_mini div { 
  margin-bottom: 23px;
}

.form_superior_esq 
{
  height:28px;
}             

.form_superior { 
  height:28px;
}

.form_superior_dir
{
  height:28px;
}             

span.legenda img
{
  -moz-opacity: 0.5;
}

form table
{
  xmargin-left:auto;
  xmargin-right:auto;
}

button.ocioso, button.ativo, 
button.ociososmall, button.ativosmall
{
  crop: end;
}

div.form_browse table.browse th
{
  crop: end;
}

div.form_browse table.browse td 
{
  crop: end;
}

div.form_qbe 
{
  crop: end;
}