@import url(xp.css);

body { 
  scrollbar-track-color: #D3D3D3; /* 	light blue */
  scrollbar-darkshadow-color: #000000; /* black */
  scrollbar-face-color: #B0C4DE; /* light steel blue */
}

form table
{
  margin-left:auto;
  margin-right:auto;
}

div.icone_mini img.marked
{                
  filter:xray;
}

div.icone_list img.marked
{                
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

div.formMsg, div.formMsgSrv, 
div.formWarningSrv, div.formWarningFull 
{
   xword-wrap: break-word;
}

ul.primary-nav ul 
{
	background: #fff; /* IE6 Bug */
}

/* Fix IE. Hide from IE Mac \*/
* html ul.primary-nav li { float: left; height: 1%; }
* html ul.primary-nav li a { height: 1%; }
/* End */

span.legenda img
{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

button.ocioso, button.ativo, 
button.ociososmall, button.ativosmall
{
  text-overflow: ellipsis;
}

div.form_browse table.browse th
{
  text-overflow: ellipsis;
}

div.form_browse table.browse td 
{
  text-overflow: ellipsis;
}

div.form_qbe 
{
  text-overflow: ellipsis;
}