@charset "utf-8";
/* CSS Document */

/*body {
	margin: 0px;
	background-color: #6699CC;
}*/

.DataGrid {
	border-collapse: collapse;
	font-family: Verdana;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	
}

.DataGrid tr {
	white-space:nowrap;
}

.DataGrid th {
	border-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #666666;
	border-left-color: #999999;
	border-right-color: #999999;
	border-width: 1px;
	background-color: #D4D0C7;
	padding: 4px;
}

.DataGrid td {
	border-width: 1px;
	border-color: #D4D0C8;
	border-style: solid;
	padding-left: 4px;
	padding-right: 4px;
	cursor: pointer;
}

.SelectIndex { 
	width:420px; 
	margin:5px;
}

.TextSearch { 
	width:415px; 
	margin:5px;
}

.ScrollBar {
	overflow:scroll; 
	margin:5px; 
	height:236px; 
	border: 1px #D4D0C8 solid;
}
 

#SearchForm {
	width:550px;
	height:382px;
	border:none;
	overflow: hidden;
	visibility: visible;
	text-align: left;
	left: 50%; 
	top: 50%; 
	position: fixed; /*absolute; */
	background: transparent;
	margin-left: -250px;
	margin-top: -191px;
	background-color: transparent;
	z-index: 2;
}

#TitleBar {
	height: 25px;
}

#TitleBarCenter {
	background-image:url(../imagens-rh/title-center.png);
	text-align:center;
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	width:544px;
	float:left;
}

#TitleBarLeft {
	background-image:url(../imagens-rh/title-left.png);
	float: left;
	height: 25px;
	width: 3px;
}

	
#TitleBarRight {
	background-image:url(../imagens-rh/title-right.png);
	float:left;
	height:25px;
	width: 3px;
}

#FrameBody {
	height:302px;
	/*width:578px;*/
	text-align:left;
	border-left: solid #000000 1px;
	border-right: solid #000000 1px;	
	padding:10px;
	background-color:#FFFFFF;
}

#FrameBody .botoes {
	width:80px; 
	margin:5px;
}	


#Footer {
	height: 34px;
	/*width: 100%;578px;*/
	border-left: solid #000000 1px;
	border-right: solid #000000 1px;	
	border-bottom: solid #000000 1px;	
	background-color:#FFFFFF;	
}

#FooterLeft  {
	padding-left: 10px;
	text-align:left;
	float:left;
	margin: 5px;
	font-weight: bold;
	font-size: 14px;
	width: 125px;
	height:25px;
}

#FooterLeft input {
	border-style:inset;
	border-width: 1px;
	text-align: right;
	font-weight: bold;
}

#FooterCenter  {
	text-align:center;
	float:left;
	font-weight: bold;
	width: 235px;
	height:25px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}
/*
#FooterCenter a  {
	text-decoration:none;
	font-weight:bolder;
}
*/

#FooterRight  {
	text-align:right;
	float:right;
	width: 144px;
	margin: 5px;	
	padding-right: 10px;
	height:25px;
}

/*
.botoes [disabled="disabled"] {
	cursor: default;
}
*/
.botoes {
	font-size:11px;
}


#FooterRight .botoes {
	width: 70px;
	margin-top: 1px;
	margin-bottom: 1px;
}


#FooterCenter .botoes {
	border-style: none;
	cursor: pointer;
}



/*#LightBox {
	background-color: #000000;
}*/


#WaitForm {
	width: 242px;
	height: 140px;
	border:none;
	overflow: hidden;
	left: 50%; 
	top: 50%; 
	margin-left: -150px;
	margin-top: -70px;
	position: fixed;
	background: transparent;
	background-color: transparent;
	z-index: 2;
}


#WaitForm #TitleBar {
	width:242px;
}

#WaitForm #TitleBarCenter {
	width:236px;
}

#WaitForm #FrameBody {
	vertical-align: middle; 
	text-align:center;
	width: 220px;/*278px;*/
	height: 85px;
	padding-top: 20px;
}


#LightBox {
	background-image: url(../imagens-rh/overlay.png);
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;	
}

* html #LightBox {
	/*background-color: #000;*/
	background-color: transparent;
	background-image: url(../imagens-rh/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../imagens-rh/overlay.png", sizingMethod="scale");
}


.ButtonFirst, .ButtonFirstDisabled {
	background-image: url(../imagens-rh/first.png);
}

.ButtonPrevious, .ButtonPreviousDisabled {
	background-image: url(../imagens-rh/previous.png);
}

.ButtonNext, .ButtonNextDisabled {
	background-image: url(../imagens-rh/next.png);
}

.ButtonLast, .ButtonLastDisabled {
	background-image: url(../imagens-rh/last.png);
}


.ButtonFirst, 
.ButtonPrevious,
.ButtonNext,
.ButtonLast {
	background-position: 0px 0px;
	cursor: pointer;		
}

.ButtonFirstDisabled,
.ButtonPreviousDisabled,
.ButtonNextDisabled,
.ButtonLastDisabled {
	background-position: 0px -66px;
	cursor: default;	
}

.ButtonFirst, .ButtonFirstDisabled, 
.ButtonPrevious, .ButtonPreviousDisabled,
.ButtonNext, .ButtonNextDisabled,
.ButtonLast, .ButtonLastDisabled  {
	height: 22px;
	width: 52px;
	display: block;
	float:left;	
	margin-left: 5px;
}

.ButtonFirst:hover, .ButtonFirst:focus,
.ButtonPrevious:hover, .ButtonPrevious:focus,
.ButtonNext:hover, .ButtonNext:focus,
.ButtonLast:hover, .ButtonLast:focus {
	background-position: 0px -22px;
}

.ButtonFirst:active,
.ButtonPrevious:active,
.ButtonNext:active,
.ButtonLast:active {
	background-position: 0px -44px;
}


#MessageBox {	
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:#FFFFCC;
	font-weight: bold;
	text-align: center;
	position:relative;
	width: 50%;	
	margin: 0px auto -1px auto; 
	border: 1px dotted #000000;
}
	
#MessageContainer {	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}