/*Geral*/
body {
    color: #495c60;
    font-family: 'Helvetica-std',Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.45;
    font-style: normal;
    font-weight: normal;
    margin: 10px;
}
br {
	clear: left;
}
h2, h3{ 
	color: #00A9C7; 
	text-decoration: none;
}

div{
	text-align: left; 
	vertical-align: middle; 
}
table{
	border: 0px;
	border-spacing: 3px;	
	cellpadding:0;
	cellspacing:0;
}

tr{
}

table tbody tr:nth-child(2n+1) {
	background: #f9f9f9;
}

th{
	background: #43595E;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	padding: 5px;
}

td{
	padding: 5px;	
	text-transform: uppercase;
	font-size: 11px;
}

.info-dir{
	text-align: right;
}

.info-cent{
	text-align: center;
}

.info-esq{
	text-align: left;
}
p{
	align: justify;
}
.links {  
	text-decoration: none;
	color: #00A9C7;
}
fieldset {
	width: 800px;
	border: 0;
}

.field-com-borda{
	border: 1px solid #D1D1D1;
}

fieldset br {
	clear: left;
}

fieldset span{
	font-size: 9px;
	color: #FF0000;
	text-decoration: none;
	clear: left;
}

.alerta{
	font-size: 13px;
	color: #FF0000;
	text-decoration: none;
	clear: left;
}

label, input, textarea, select {
	display: block;
	float: left;
}

label {	
	text-align: right;
	width: 150px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.labelInvert {	
	text-align: left;
	width: 150px;
	padding-right: 30px;
	padding-top: 8px;
}

.pos-esq {
	text-align: left;
	padding: 5px 0 0 0;
}

input, select{
	color: #495c60;
    font-family: 'Helvetica-std',Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
	border: 1px solid #D1D1D1;
	height: 28px;
    margin-right: 10px;	
    box-shadow: 0 2px 1px 0 rgba(145, 145, 145, 0.3);
	border-radius: 5px;
}
input[type="checkBox"] {
	height: 25px;	
}

.login{	
}

textarea{
	color: #495c60;
    font-family: 'Helvetica-std',Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
	border: 1px solid #D1D1D1;
    box-shadow: 0 2px 1px 0 rgba(145, 145, 145, 0.3);
	border-radius: 5px;
}

.botoes {
	color: #495C60;
	float: left;
	border-color: #dedede #bfbfbf #bfbfbf #dedede;
    cursor: pointer;
    margin: 20px 0px 0px 20px;
    padding: 0px 20px 0px 20px;
}

.divAjaxLoad{
	width: 800px;
	text-align: center; 
	vertical-align: middle; 
}
.tooltip
{
  text-decoration:none;
  position:relative;
}
  
.tooltip span
{
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white;
} 
 
.tooltip:hover span
{
  display:block;
  position:absolute;  top:0;  left:0;
  z-index:1000;
  width:auto;
  max-width:320px;
  min-height:50px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}

.container-pagin{
	display: table;
	width: 100%;
	height: 25px;
	padding: 40px 0 0 0;
}
.pagin-esq{	
	float:left;
	width: 140px;
	height: 90px;
}
input.pagin{
	text-align: center;
	width: 40px;
	height: 22px;
	font-size: 10px;	
	border-radius: 0px;
    box-shadow: 0 0 0 0 rgba(255, 255, 225, 0.3);
	
}

.ButtonFirst, .ButtonFirstDisabled {
	background-image: url(../imagens-rh/first.png);
}

.ButtonPrevious, .ButtonPreviousDisabled {
	background-image: url(../imagens-rh/previous.png);
}

.ButtonNext, .ButtonNextDisabled {
	background-image: url(../imagens-rh/next.png);
}

.ButtonLast, .ButtonLastDisabled {
	background-image: url(../imagens-rh/last.png);
}


.ButtonFirst, 
.ButtonPrevious,
.ButtonNext,
.ButtonLast {
	background-position: 0px 0px;
	cursor: pointer;		
}

.ButtonFirstDisabled,
.ButtonPreviousDisabled,
.ButtonNextDisabled,
.ButtonLastDisabled {
	background-position: 0px -66px;
	cursor: default;	
}

.ButtonFirst, .ButtonFirstDisabled, 
.ButtonPrevious, .ButtonPreviousDisabled,
.ButtonNext, .ButtonNextDisabled,
.ButtonLast, .ButtonLastDisabled  {
	height: 22px;
	width: 52px;
	display: block;
	float:left;	
	margin-left: 5px;
}

.ButtonFirst:hover, .ButtonFirst:focus,
.ButtonPrevious:hover, .ButtonPrevious:focus,
.ButtonNext:hover, .ButtonNext:focus,
.ButtonLast:hover, .ButtonLast:focus {
	background-position: 0px -22px;
}

.ButtonFirst:active,
.ButtonPrevious:active,
.ButtonNext:active,
.ButtonLast:active {
	background-position: 0px -44px;
}
.container-cabec{
	display: table;
	width: 100%;
	height: 25px;
	padding: 5px 0 0 0;
	text-transform: uppercase;
}
.div-titulo{	
	color: #ffffff;
	float:left;
	width: 200px;
	height: 20px;
	background: #43595E;
	padding: 5px;
}
.div-conteudo{	
	float:left;
	width: 580px;
	background: #f9f9f9;
	padding: 5px;
}

.container-dadCad{
	display: table;
	width: 500px;
	height: 25px;
	padding: 5px 0 0 0;
	text-transform: uppercase;
}
.div-titulo-dadCad{	
	color: #ffffff;
	float:left;
	width: 100px;
	height: 20px;
	background: #43595E;
	padding: 5px;
}
.div-conteudo-dadCad{	
	float:left;
	width: 380px;
	height: 20px;
	background: #f9f9f9;
	padding: 5px;
}
/*****************  Frame do topo - pwsr00A.aph  ****************/
#container{
	display: table;
	width: 100%;
	height: 125px;
}
#bloco-esq{	
	float:left;
	width: 25%;
	height: 90px;
}

#bloco-esq img{
	width: 216px; 
	height: 90px; 
	border: 0;
}

#titulo{
	float:left;
	width: 50%;
	height: 90px; 
	text-align: center;
}

#titulo h1{	 
	color: #00A9C7; 
}

#bloco-dir{	
	float:left;
	width: 25%;
	height: 90px;
	text-align: right;
}
#bloco-dir label{
	padding-top: 30px;
	padding-bottom: 5px;
	float: right;
}

#barra-botton{
	clear: both;
	background: #0c72b0;	
	height: 35px;
}

/*****************  Frame menu - pwsr00B.aph  ****************/
.fundo_menu{
	background: #ffffff;/*#5CBEE1;*/
}

.link_menu {
	color: #FFFFFF;
	text-decoration:none;
	background-color:#0C72B0;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	display:block;
    box-shadow: 0 2px 1px 0 rgba(145, 145, 145, 0.3);
	border-radius: 8px;
}
.linl_menu:hover {
	color: #FFFFFF;
	text-decoration:none;
	background-color:#5CA5E2;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	display:block;
}

.link_menu:active {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	background-color:#5CA5E2;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	display:block;
}

.sub_link_menu {
	color: #0C72B0;
	text-decoration:none;
	background-color:#f9f9f9;
	border-bottom:#f9f9f9 solid 1px;
	border-top: #ccc solid 1px;
	display:block;
    box-shadow: 0 2px 1px 0 rgba(145, 145, 145, 0.3);
	border-radius: 8px;
}
.sub_link_menu:hover {
	color: #FFFFFF;
	text-decoration:none;
	background-color:#5CA5E2;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	display:block;
}


ul#primary-nav,
ul#primary-nav ul {
	margin: 0;
	padding: 0;
	width: 230px; /* Largura do Menu Items */
	heigth: 30px; /* Altura do Menu Items */
	/*border-bottom: 1px solid #ccc;*/
	background: #fff; /* IE6 Bug */font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	}

ul#primary-nav li {
	position: relative;
	list-style: none;
	padding-top: 5px;
	}

ul#primary-nav li a {
	display: block;
	text-decoration: none;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
	}
ul#primary-nav li a img{
	vertical-align: middle;
	width: 13px; 
	height: 28px;
	hspace: 6;
	border: 0;
	}
.menuparent-item{
	margin: 0 0 0 10px;	
	font-weight:normal;
}

/* Fix IE. Hide from IE Mac \*/
* html ul#primary-nav li { float: left; height: 1%; }
* html ul#primary-nav li a { height: 1%; }
/* End */

ul#primary-nav ul {
	/*position: absolute;*/	/*Abre o sub menu lateralmente ao menu principal*/
	/*)display: none;*/		/* Fecha o sub menu ao sair do sub menu*/
	left: 229px; 			/* Set 1px less than menu width */
	top: 0;
	}

ul#primary-nav li ul li a { padding: 2px 5px; } /* Sub Menu */

ul#primary-nav li:hover ul ul,
ul#primary-nav li:hover ul ul ul,
ul#primary-nav li.over ul ul,
ul#primary-nav li.over ul ul ul { display: none; } /* Inicia os sub-menus fechados */

ul#primary-nav li:hover ul,
ul#primary-nav li li:hover ul,
ul#primary-nav li li li:hover ul,
ul#primary-nav li.over ul,
ul#primary-nav li li.over ul,
ul#primary-nav li li li.over ul { display: block; } /* The magic */

ul#primary-nav li.menuparent { background: transparent url(../imagens-rh/mais.bmp) right center no-repeat; }

ul#primary-nav li.menuparent:hover,
ul#primary-nav li.over { background-color: #f9f9f9;}

ul#primary-nav li a:hover { 
	background-color:#5CA5E2;
	border-bottom:#559DC8 solid 1px;
	border-top: #559DC8 solid 1px;
	}
/*****************  Frame principal - pwsr00C.aph  ****************/

/*****************  Agenda do Candidato - pwsr031.aph  ****************/
.divView span{
	margin-left: 30px;
    color: #FF8300;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    display: block;
}
.divEdit, .obsAgenda{
	margin-left: 30px;
	color: #FF8300;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

/*****************  Tela msg de erro - pwsrherr.aph  ****************/
.textoDestaques{
	color: #FF0000;
	text-decoration: none;
	font-weight: normal;
	background: #F9EC9F;
	display: block;
	border: thin dashed #000000; 
	padding: 20px;
}

/*****************  Tela msg de erro - pwsr022.aph  ****************/
#container-avaliacao{
	display: table;
	width: 100%;
	height: 40px;
}
#div-titulo{	
	float:left;
	width: 50%;
	height: 40px;
}
#div-tempo{	
	float:right; 
	display:inline;
	width: 50%;
	height: 40px;
	text-align: right;
}
#div-tempo br{	
	clear: left;	
}
#tempo{
	float:right; 
	display:inline;
	font-size: 13px;
}

.FundoClaro{
	background-color: #fff;
}
.titulo{
	color: #495c60;
	text-decoration: none;	
	FONT-WEIGHT: bold; 
	FONT-SIZE: 20px;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.TituloMenor{
	color: #495c60; 
	text-decoration: none;FONT-WEIGHT: bold; 
	FONT-SIZE: 13px;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.texto{
	color: #495c60;
    font-family: 'Helvetica-std',Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.45;
    font-style: normal;
    font-weight: normal;	
}
.links-clientes{
	text-decoration: none;
	color: #00A9C7;
}