A:hover {
	TEXT-DECORATION: underline
}
A:link {
	TEXT-DECORATION: none
}
A:active {
	
}
.texto {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.combo {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 17px
}
.comboselect {
	BORDER-RIGHT: #cccccc 1px double; BORDER-TOP: #cccccc 1px double; FONT-SIZE: 10px; BORDER-LEFT: #cccccc 1px double; COLOR: #999999; BORDER-BOTTOM: #cccccc 1px double; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.combomaior {
	BORDER-RIGHT: #cccccc 1px double; BORDER-TOP: #cccccc 1px double; FONT-SIZE: 10px; BORDER-LEFT: #cccccc 1px double; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px double; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.links {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #c79434; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.combo2 {
	BORDER-RIGHT: #cccccc 1px double; BORDER-TOP: #cccccc 1px double; FONT-SIZE: 10px; BORDER-LEFT: #cccccc 1px double; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px double; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 12px
}
.comboCopy {
	BORDER-RIGHT: #cccccc 1px double; BORDER-TOP: #cccccc 1px double; FONT-SIZE: 10px; BORDER-LEFT: #cccccc 1px double; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px double; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 14px
}
.texto-home {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titulo-home {
	FONT-SIZE: 10px; COLOR: #408080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.home-noticia-tit {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #a45711; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.home-noticia {
	FONT-SIZE: 11px; COLOR: #6f581c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.submenu {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto-home2 {
	FONT-SIZE: 11px; COLOR: #008080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.titulo {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #bc8e03; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sub-titulo {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #008080; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.eventos {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.texto-20anos {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
