body { align: left; }

#geral {
width: 700px;
 /* margin: auto;  */
background: url(interseccaoCenter.jpg) repeat-y; 
}
		
#topo {
background: url(interseccaoSuperior.jpg) no-repeat; 
height: 45px; 
}
		
#conteudo {
padding: 0 20px; 
font: 8pt Verdana;
text-align: left; 
}
		
#rodape {
background: url(interseccaoInferior.jpg) no-repeat; 
height: 45px; 
clear: both; 
}
