.page_body {
  top: 0px;
  bottom: 0px;
  left:0px;
  right:0px;  
}

table {
  border-spacing: 0px 0px;
}

.verySmall
{
  font-size: 70%;
}

div.pivotResize
{
  width: 3px; 
  height: 18px; 
  position: absolute; 
  top: 0px; 
  left: 50%; 
  z-index: 100; 
  cursor: col-resize;           
  background-color: transparent;
} 

div.pivotResizeLine, #divPanResizeLine
{
  display: none;
  width: 3px; 
  height: 100%;
  position: absolute; 
  top: 0px; 
  left: 10px; 
  z-index: 100; 
  background-color: transparent;
} 

#divPanResizeLine
{
  height: 470px;
} 

.hidden
{
  display: none;
}

.pivot
{
  background-color: transparent;
  height: 100%; 
  width: 100%;
  overflow: scroll;
}

.duplo
{
  border-left: 3px groove rgb(129, 176, 221);
}
                
.pivot table.att
{
  background-color: red !important;
  #eaeaea;
}

td
{
	vertical-align: top;
}

.pivot table td
{
	padding-top: 1px;
	padding-left: 3px;
  border: none;
	border-bottom: 1px solid rgb(129, 176, 221);
  border-right: 1px solid rgb(129, 176, 221);
  height: 17px;
}

.pivot table td.curva
{
	padding-left: 26px;
	background-repeat:no-repeat; 
	background-position:left top;
}

.pivot table td.curvaA
{
	background-image: url(curva_a.png); 
}

.pivot table td.curvaB
{
	background-image:url(curva_b.png); 
}

.pivot table td.curvaC
{
	background-image:url(curva_c.png); 
}
	
.pivot table td.curvaD
{
	background-image:url(curva_d.png); 
}

.pivot table tr.curvaE
{
	background-image:url(curva_e.png); 
}

.pivot table.att td.header,
.pivot table.att td.headerX
{
  background-color: #92AAC6;
  font-weight: bold;
  text-transform: capitalize;
}

.pivot table.att td.headerX
{
  background-color: rgb(149,203,255);
}

.pivot table.ind 
{
	text-align: right;
}
                   
.pivot table.ind td.header,
.pivot table.ind td.headerX
{
  background-color: rgb(154,200,253);
  font-weight: bold;
  text-transform: capitalize;
}

.pivot table.ind td.headerX
{
  background-color: rgb(149,203,255);
}

.pivot table tr.total
{       
  font-weight: bold;
  background-color: rgb(202,217,227) ! important;
}

.pivot table tr.totalGeral
{       
  font-size: 11px;
  font-weight: bold;         
  background-color: rgb(173,207,229) ! important;
}                           

.pivot table tr.eofMark
{       
  font-weight: bold;
  background-color: rgb(255, 194, 194) ! important;
}

.rollOver
{
	background-color: rgb(221, 221, 221) ! important;
}

.pickUp
{
  background-color: rgb(255, 241, 241) ! important;
}

.dragOver
{
  background-color: #c2c9d1 ! important;
} 

.EOF_Mark
{
  font-size: 13px;
  font-weight: bold;         
  background-color: rgb(255, 194, 194) ! important;
}

body.P11 table.container{
  margin-top: 0% !important;
}	

table.browse > tbody > tr {
  height: auto !important;
}

