.DivTitulo {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 16px; 
	COLOR: #49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.DivTexto {
	FONT-SIZE: 11px; 
	COLOR: #454545; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;

}
.DivTextoDestaques {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #777777;
	text-decoration: none;
	font-weight: normal;
}
.DivTituloMenor {
	FONT-WEIGHT: normal; 
	FONT-SIZE:12px; 
	COLOR:#49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.DivBotoes {
	FONT-SIZE: 9px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #333333;
	font-weight: bold;
	margin: 1px;
	padding: 1px;
	cursor:hand;
}
.DivCombo, .DivComboSelect {
	FONT-SIZE: 9px;
	color:#666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #999999;
	margin: 1px;
	padding: 1px;
}

.DivCombo-Login {
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border-style:none;
	background: url(input_fundo.gif);
	width:160px;
	height:22px;
	padding-left:6px;
	padding-top:5px;
	_padding-top:1px;
	line-height:20px;

}
.DivComboSelect-Login {
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-color:#36373B;
	width:160px;
	height:20px;
	padding-top:1px;
	_padding-top:3px;
}