#notification_li{
	position:relative;
	float: right;
	padding-top: 40px;
	
}
#notificationContainer{
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	top: 70px;
	margin-left: -350px;
	width: 400px;
	z-index: 9999;
	display: none;
}

#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent #0C72B0;
	margin-top: -20px;
	margin-left: 350px;
}
#notificationTitle {
	z-index: 1000;
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #0C72B0;
	width: 384px;
	border-bottom: 1px solid #dddddd;
	color: white;
}
ul{
    padding-left: 0;
    margin-top: 0;
}

#notificationsBody li{
	padding: 20px 2px 20px 2px !important;
	border-bottom: 1px solid #dddddd;
	margin-top: 0px;
	list-style-type: none;
}

#notificationsBody a{
	color:#333333;
	text-decoration:none;
}

#notificationsBody li:hover {
	background-color: #5CA5E2;
	color:white !important;
}

#notificationsBody li:hover a{
	
	color:white !important;
}

#notificationFooter {
	background-color: #e9eaed;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}

#notification_count {
	padding: 3px 7px 3px 7px;
	background: #cc0000;
	color: #ffffff;
	font-weight: bold;
	margin-left: 25px;
	border-radius: 9px;
	position: absolute;
	margin-top: -11px;
	font-size: 11px;
}

