html {
	height:100%;
} 

body {
	height:100%;
	margin:0;
	padding:0;
	background:#ddd;
	color:#666;
	font:75%/1.4 Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}

#tudo { 
	min-width: 760px;
/*- Para tamanho fixo ----------*/
	width:760px;
	margin:0 auto;
/*------------------------------*/	
/*- Para preencher a tela toda -*/
/*	width:100%;
/*------------------------------*/

	position:relative;  /*Contexto de posicionamento */

	text-align:left;
	min-height:100%;

	border-style: solid;
	border-color:#000000;
	border-width: 1px;
	
	background-color: #fff;
	background-image: url(imagens-rh/menu_fundo.jpg);
	background-repeat: repeat-y;
	background-position: left;
}

* html #tudo {
 	height: 100%;
}

#conteudo {
	padding-bottom:30px;
}

#topo {
	width:100%;
	min-width: 760px;

	background-image: url(imagens-rh/topo_fundo.jpg);
	background-repeat: repeat;	
	
	height:90px;
}

#principal {

/*- Para tamanho fixo ----------*/
	width:510px;
/*------------------------------*/	
/*- Para preencher a tela toda -*/
/*	width:100%;
/*------------------------------*/

	float:left;	
	padding-left:20px;
	padding-top:10px;
}

#menu {
	width:195px;
	float: left;
	padding-left:10px;
	padding-right:5px;
	
}

#rodape {
	min-width: 760px;
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
	background: url(imagens-rh/topo_fundo.jpg);	
}

.clear {
	clear:both;
}


.MenuItem {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	text-decoration:none;
	background-color:#F5F5F5;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;	
	padding-left:5px;
}

.MenuItem:hover {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	text-decoration:none;
	background-color:#CCCCCC;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}

.MenuItem:active {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	text-decoration:none;
	background-color:#CCCCCC;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}


.MenuSubItem {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration:none;
	background-color:#E5E5E5;
	border-bottom:#CCCCCC solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
	height: 19px;		
	padding-left:15px;
}

.MenuSubItem:hover {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration:none;
	background-color:#CCCCCC;
	border-bottom:#CCCCCC solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}


.MenuSubItem {
	text-decoration: none;
	background-image: url(apmenu-right.jpg);

}


.TextoPeq {
	FONT-SIZE: 9px; 
	COLOR: #757575; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.TextoBold {
	FONT-SIZE: 11px; 
	COLOR: #454545; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}


#topo_esquerda {
	background-image: url(imagens-rh/topo_logo-esq.jpg);
	background-repeat: no-repeat;	
	float: left;
	width: 216px;	
	height: 100%;
}

#topo_centro {
	background-image: url(imagens-rh/topo_nomeportal-candidato.jpg);
	background-repeat: no-repeat;	
	float: left;
	width: auto;
	min-width: 345px;
	height: 100%;
	margin-left: 40px; 
}

#topo_direita {
	background-image: url(imagens-rh/topo_logo-dir.jpg);
	background-repeat: no-repeat;	
	float: right;
	width: 110px;
	height: 100%;
}



.LoginInfo {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-left:5px;
	padding-bottom:20px;
	border-bottom:#DFDFDF solid 1px;		
}




.UserName {
	font-weight:bold;
}