a:hover {  text-decoration: underline}
a:active {  }
.texto {
	FONT-SIZE: 11px; 
	COLOR: #454545; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.Scroll {
SCROLLBAR-FACE-COLOR: #DEDEDE; 
SCROLLBAR-HIGHLIGHT-COLOR: #DEDEDE; 
SCROLLBAR-SHADOW-COLOR: #ffffff; 
SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
SCROLLBAR-ARROW-COLOR:  #ffffff; 
SCROLLBAR-TRACK-COLOR: #ffffff; 
SCROLLBAR-DARKSHADOW-COLOR: #DEDEDE; 
}
.combo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #333333;
	margin: 1px;
	padding: 1px;
}
.combo, .comboselect {
	FONT-SIZE: 9px;
	color:#666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #999999;
	margin: 1px;
	padding: 1px;
}
.combo-login {
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border-style:none;
	background: url(input_fundo.gif);
	width:160px;
	height:22px;
	padding-left:6px;
	padding-top:5px;
	_padding-top:1px;
	line-height:20px;
}
.comboselect-login {
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-color:#36373B;
	width:160px;
	height:20px;
	padding-top:1px;
	_padding-top:3px;
}
.links {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #49577E;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
	
}
.links-clientes {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #003366; 
	text-decoration: none;
}
.textoPeq {
	FONT-SIZE: 9px; 
	COLOR: #757575; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.textobold {
	FONT-SIZE: 11px; 
	COLOR: #454545; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.textoItalico {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#454545;
	font-style: italic;
}
.titulo {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 20px; 
	COLOR: #49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.links-detalhes {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: FF0000; text-decoration: none; font-weight:bold;
}
.links_login {
	FONT-SIZE: 9px;
	COLOR: #7C87A4;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline !important;
}
.TituloMenor {
	FONT-WEIGHT: normal; 
	FONT-SIZE:12px; 
	COLOR:#49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.TituloMenorBold {
	FONT-WEIGHT: bold; 
	FONT-SIZE:12px; 
	COLOR:#49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.Botoes {
	FONT-SIZE: 9px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #333333;
	font-weight: bold;
	margin: 1px;
	padding: 1px;
	cursor:hand;
}
.TarjaTopoMenu {
	text-decoration: none;
	height: 6px;
	background-image: url(apmenu-right.jpg);
}
.FundoMenu {
	text-decoration: none;
	background-image: url(apmenu-right.jpg);
}
.FonteMenu {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	text-decoration:none;
	background-color:#F5F5F5;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}
.FonteMenu:hover {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	text-decoration:none;
	background-color:#CCCCCC;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}
.FonteMenu:active {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	text-decoration:none;
	background-color:#CCCCCC;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}
.FonteSubMenu {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration:none;
	background-color:#E5E5E5;
	border-bottom:#CCCCCC solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}
.FonteSubMenu:hover {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration:none;
	background-color:#CCCCCC;
	border-bottom:#CCCCCC solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}

.FonteBottomSubMenu {
	background-image: url(topo_bottom_menu.gif);
	height: 16px;
}

.FonteTopSubMenu {
	background-image: url(topo_top_menu.gif);
	margin-top: 4px;
	height: 20px;
}

.FundoSubMenu {
	text-decoration: none;
	background-image: url(apmenu-right.jpg);
}
.DivisoriaOpçõesMenu {
	text-decoration: none;
	background-color: #6680A6;
	background-image: url(apmenu-right.jpg);
}
.TarjaTopoLogin {
	text-decoration: none;
	background-color: #426285;
	height: 6px;
}
.FundoLogin {
	text-decoration: none;
	background-color: #F7F7F7;
}
.FundoClaro {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
}
.SelectModulos {
	background:url(login_container_m.png) repeat-x center center;
}
.TituloDestaques {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
        background-color: #7fa9c1;
	border-style:solid;
	border-color:#7fa9c1;
	text-decoration: none;
	font-weight: bold;
}
.TextoDestaques {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #777777;
	text-decoration: none;
	font-weight: normal;
}
.FundoDestaques {
	text-decoration: none;
	background-color: #FFFFF
	border-style:solid;
	border-color:#7fa9c1;
}
.FundoPontilhado {
	text-decoration: none;
	height: 5px;
}
.FundoPontilhadoVertical {
	text-decoration: none;
	height: 5px;
}
.TituloTabelas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.FundoTituloTabela {
	text-decoration: none;
	background-color: #495E73;
}
.TarjaTopoCor {
	text-decoration: none;
	height: 6px;
	background-image: url(pontilhado.gif);
	background-color: #6699CC;
}
.FundoTabelaDestaques {
	text-decoration: none;
	background-color: #495E73;
}
.comboselect-pequeno {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px solid #CCCCCC;
	width: 132px;
	clear: none;
	float: none;
	text-decoration: none;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	clip:  rect(1px 1px 1px 1px);
}
.comboselect-grande {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px #CCCCCC double;
	width: 395px;
}
.links-pagina {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.TituloMenorLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #49577E;
	font-weight: normal;
	text-decoration: underline;
}
.tituloLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #49577E;
	font-weight: bold;
	text-decoration: none;
}
.topoNomePortal {
	background: url(topo_fundo.jpg) repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #666666;
}
.Relato {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
.Cabecalho {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	text-align: left;
	color: #404040;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 0px;
}
.Linha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	background-color: #BEC8D1;
	font-weight: bold;
}
.TextoEnvEmail
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-position: center;
	color: #000000;
	font-style: normal;
	font-variant: normal;
}  
.TextoReimpGuia {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #e84248;
	text-decoration: none;
	font-weight: bold;
}
.TextoLinGrid {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: none;
	font-style: normal;
} 
.TextoLinGridC {
	font-family: "Courier New", Courier, mono;
	font-size: 9px;
	color: #666666;
	text-decoration: none;
	font-style: normal;
} 
.TextoLabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	font-style: normal;
}
.TextoLabelOB {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	font-style: normal;
    background-color: white;
}
.TextoAut {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0D9132;
	text-decoration: none;
	font-weight: bold;
}
.TextoNeg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #F00000;
	text-decoration: none;
	font-weight: bold;
}        
.TextoAutPeq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0D9132;
	text-decoration: none;
	font-style: normal;
}                 
.TextoAutPeqC {
	font-family: "Courier New", Courier, mono;
	font-size: 9px;
	color: #0D9132;
	text-decoration: none;
	font-style: normal;
}                 
.TextoNegPeq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #e84248;
	text-decoration: none;
	font-style: normal;
}                 
.TextoNegPeqC {
	font-family: "Courier New", Courier, mono;
	font-size: 9px;
	color: #e84248;
	text-decoration: none;
	font-style: normal;
}                 
.TextoCourierBold {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #003366;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
.TextoCourier {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	font-style: normal;
}
.TextoInputOB{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	border: 1px #CCCCCC double;
}     
.TextoInputOP{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	border: 1px #CCCCCC double;
	background-color: #E6E6E6;
}     
.TextoDica {
	FONT-SIZE: 11px; 
	COLOR: #454545; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.DivisoriaOpcaoMenu {
	text-decoration: none;
	background-color: #6680A6;
	background-image: url(apmenu-right.jpg);
}
.TituloDica {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 20px; 
	COLOR: #49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.TituloCab{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003366;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}      
.TituloSubItens {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
.TituloLoginGde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #CEEEFF;
	text-decoration: none;
	font-weight: bold;                                   
}                 
.ComboSelectOB
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	border: 1px solid #CCCCCC;
	clear: none;
	float: none;
	text-decoration: none;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	clip:  rect(1px,1px,1px,1px);
}
.ComboSelectOP
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	border: 1px solid #CCCCCC;
	clear: none;
	float: none;
	text-decoration: none;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	clip:  rect(1px,1px,1px,1px);
	background-color: #E6E6E6;
}     
.ListBoxScroll
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	border: 1px solid #CCCCCC;
	clear: none;
	float: none;
	text-decoration: none;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	clip:  rect(1px,1px,1px,1px);
	overflow: auto;
	height: 80px;
}

#ModalPage {
    position: absolute;
    display: none;
 	height: 100%; 
    top: -150px;
	width: 775px;
}
.ModalBackground {
	position: absolute;
	filter: Alpha(Opacity=0);
	-moz-opacity:0.1;
	opacity: 0.1;
	width: 100%;
 	height: 100%;
	top: 0px;
	background-color: #CCCCCC;
	z-index: 500;
}
.ModalContainer {
    position: absolute;
	left: 20%;
    top: 50%;
	z-index: 750;
}
#ResultFinalAut{
	width: 400px;
	height: 40px;
	background-color: #F9F9F9;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	background-position: center;
	padding:12px;
	z-index: 1000;
	overflow: auto;
} 
#ResultFinal{
	width: 40ems;
	height: 70px;
	background-color: #F9F9F9;
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	background-position: center;
	padding:12px;
	z-index: 1000;
	overflow: auto;
}
#ResultFinalTab{
	background-color: #F9F9F9;
	border:1px solid #666666;
}
.DivProcessa
{
	position: absolute;
	width:auto;
	height:auto;
	left: 10%;
	top: 20%;
	z-index:10;
	background-color: #ACACAC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-position: center;
	border:1px solid #333333;
	padding:12px;
	color: #000000;
	filter: Alpha(Opacity=80);
	-moz-opacity:0.8;
	opacity: 0.8;
	font-style: normal;
	font-weight: bolder;
	font-variant: normal;
	visibility: hidden;
}                                
/*Menu bar incio*/
div.MenuTab {
	padding:0 0 0.3em;
	width:auto;
	font-size:auto;
}
ul.MenuTabs {
	margin:0.5em 0 0 0;	
	float:left;
	padding:0;
	list-style:none;
	border:none;
}
ul.MenuTabs li {
	float:left;
	margin:0;	
	padding:0 0 0 9px;
	background-image: url(left_on.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
ul.MenuTabs a:link,
ul.MenuTabs a:visited,
ul.MenuTabs a:active,
ul.MenuTabs a:hover {
	width:8em;
	height:1em;
	display:block;
	padding:5px 15px 4px 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#003366;
	text-decoration:none;
	font-style: normal;
	font-weight: bold;
	background-image: url(right_on.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
html>body ul.MenuTabs a:link,
html>body ul.MenuTabs a:visited,
html>body ul.MenuTabs a:active,
html>body ul.MenuTabs a:hover {
	height:auto;
	min-height:1.5em;
	padding-bottom:5px;
}
ul.MenuTabs a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #009900;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
div.MenuTab div {
	clear:both;
	width:auto;
	padding:0.2em 0.2em;
	border: 1px solid #666666;
}
ul.MenuTabs li.active a:link,
ul.MenuTabs li.active a:visited,
ul.MenuTabs li.active a:active,
ul.MenuTabs li.active a:hover {
	margin:0;
	background-color: #CCCCCC;
	color: #9F0000;
}   
table.TabDinamica {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	text-align: left;
	color: #404040;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 0px;
}
table.TabDinamica td.TabCab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	background-color: #BEC8D1;
	font-weight: bold;
}
table.TabDinamica td { 
	border-bottom: 1px dotted #6699CC;
	padding-left: 3px;
}
.comboRO {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #333333;
	margin: 1px;
	padding: 1px;
    background-color: #F0F0F0;
}
.comboselectRO {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px #CCCCCC double;
	background-color: #F0F0F0;
}
.Cat {              
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #295080;
	font-weight: bold;
	text-decoration: none;
}
.SubCat {           
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #878787;
	text-decoration: none;
}
#tree img {
	border: 0px;
	width: 19px;
	height: 16px;
}
.cursor { 
	background-color: #D2DAE6; cursor: hand; 
}
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.style2 {
	font-size: 10px; font-weight: bold; 
}
.style3 {
	color: #000066; font-weight:bold;
}
.style4 {
	font-size: 10px;
	border:#FFFFFF;
  	
}
.style5 {
	font-size: 10px;
	background:#F9FAFB;
}
.style6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066; font-weight:bold;
	background:#F9FAFB;
	border:#FFFFFF;
}      
.style7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066; font-weight:bold;
	text-decoration: none;
}
.TabelaBorda1 {
	text-decoration: none;
	border: 1px solid #D2DCDF;
}
.TabelaBorda2 {
	text-decoration: none;
	border: 1px solid #CAD6D9;
}
.TabelaBorda3 {
	text-decoration: none;
	border: 1px solid #E1E1E1;
}
.Fundo1 {
	border: 1px solid #D2DCDF;
	background-color: #F2F3F5;
}
.Fundo2 {
	border: 1px solid #FFFFFF;
	background-color: #F9FAFB;
}
.Fundo3 {
	background-color: #F3F3F3;
}
.Fundo4 {
	background-color: #F9F9F9;
}
.Fundo5 {
	background-color: #EEEEEE;
}
.Fundo6 {
	background-color: #F7F7F7;
}
.Fundo7 {
	border: 1px solid #FFFFFF;
	background-color: #EEEEEE;
}
.Fundo8 {
	border: 1px solid #F2F3F5;
	background-color: #F2F3F5;
}
.Fundo9 {
	border: 1px solid #F9FAFB;
	background-color: #F9FAFB;
}
.Fundo10 {
	border: 1px solid #D2DCDF;
	background-color: #F9FAFB;
}
.Fundo11{
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.Fundo12 {
	background-color: #E1E1E1;
}
.Fundo13{
	background-color: #FFFFFF;
}
.Fundo14{
	background-color: #E7E7FF;
}