a:hover {  text-decoration: underline}
a:active {  }
.texto {
	FONT-SIZE: 11px; 
	COLOR: #454545; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;

}


.Scroll {
SCROLLBAR-FACE-COLOR: #DEDEDE; 
SCROLLBAR-HIGHLIGHT-COLOR: #DEDEDE; 
SCROLLBAR-SHADOW-COLOR: #ffffff; 
SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
SCROLLBAR-ARROW-COLOR:  #ffffff; 
SCROLLBAR-TRACK-COLOR: #ffffff; 
SCROLLBAR-DARKSHADOW-COLOR: #DEDEDE; 

}



.combo, .comboselect {
	FONT-SIZE: 9px;
	color:#666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #999999;
	margin: 1px;
	padding: 1px;
}

.combo-login {
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border-style:none;
	background: url(input_fundo.gif);
	width:160px;
	height:22px;
	padding-left:6px;
	padding-top:5px;
	_padding-top:1px;
	line-height:20px;

}

.comboselect-login {
	FONT-SIZE: 9px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-color:#36373B;
	width:160px;
	height:20px;
	padding-top:1px;
	_padding-top:3px;
}






.links {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #49577E;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
	
}
.links-clientes {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #003366; 
	text-decoration: none;
}

.textoPeq {
	FONT-SIZE: 9px; 
	COLOR: #757575; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.textobold {
	FONT-SIZE: 11px; 
	COLOR: #454545; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.textoItalico {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#454545;
	font-style: italic;

}
.titulo {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 20px; 
	COLOR: #49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}
.links-detalhes {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: FF0000; text-decoration: none; font-weight:bold;
}

.links_login {
	FONT-SIZE: 9px;
	COLOR: #7C87A4;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline !important;
}

.TituloMenor {
	FONT-WEIGHT: normal; 
	FONT-SIZE:12px; 
	COLOR:#49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}

.TituloMenorBold {
	FONT-WEIGHT: bold; 
	FONT-SIZE:12px; 
	COLOR:#49577E; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none;
}

.Botoes {
	FONT-SIZE: 9px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #333333;
	font-weight: bold;
	margin: 1px;
	padding: 1px;
	cursor:hand;
}


.TarjaTopoMenu {
	text-decoration: none;
	height: 6px;
	background-image: url(apmenu-right.jpg);




}
.FundoMenu {
	text-decoration: none;
	background-image: url(apmenu-right.jpg);

}


.FonteMenu {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	text-decoration:none;
	background-color:#F5F5F5;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}

.FonteMenu:hover {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	text-decoration:none;
	background-color:#CCCCCC;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}

.FonteMenu:active {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	text-decoration:none;
	background-color:#CCCCCC;
	border-bottom:#DFDFDF solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}


.FonteSubMenu {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration:none;
	background-color:#E5E5E5;
	border-bottom:#CCCCCC solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}

.FonteSubMenu:hover {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration:none;
	background-color:#CCCCCC;
	border-bottom:#CCCCCC solid 1px;
	border-top: #FFFFFF solid 1px;
	display:block;
}


.FundoSubMenu {
	text-decoration: none;
	background-image: url(apmenu-right.jpg);

}
.DivisoriaOpçõesMenu {
	text-decoration: none;
	background-color: #6680A6;
	background-image: url(apmenu-right.jpg);

}

.TarjaTopoLogin {

	text-decoration: none;
	background-color: #426285;
	height: 6px;
}
.FundoLogin {


	text-decoration: none;
	background-color: #F7F7F7;
}
.FundoClaro {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
}
.TituloDestaques {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #49577E;
	text-decoration: none;
	font-weight: bold;
}
.TextoDestaques {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #777777;
	text-decoration: none;
	font-weight: normal;
}
.FundoDestaques {
	text-decoration: none;
	background-color: #E5E5E5;
}

.FundoPontilhado {
	text-decoration: none;
	height: 5px;


}
.FundoPontilhadoVertical {
	text-decoration: none;
	height: 5px;
}
.TituloTabelas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.FundoTituloTabela {
	text-decoration: none;
	background-color: #495E73;
}
.TarjaTopoCor {
	text-decoration: none;
	height: 6px;
	background-image: url(pontilhado.gif);
	background-color: #6699CC;


}
.FundoTabelaDestaques {
	text-decoration: none;
	background-color: #495E73;
}

.comboselect-pequeno {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px solid #CCCCCC;
	width: 132px;
	clear: none;
	float: none;
	text-decoration: none;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	clip:  rect(1px 1px 1px 1px);
}

.comboselect-grande {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 11px;
	border: 1px #CCCCCC double;
	width: 395px;
}
.links-pagina {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;

}
.TituloMenorLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #49577E;
	font-weight: normal;
	text-decoration: underline;

}
.tituloLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #49577E;
	font-weight: bold;
	text-decoration: none;
}

.Cat {              
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #295080;
	font-weight: bold;
	text-decoration: none;
}

.SubCat {           
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #878787;
	text-decoration: none;
}
#tree img {
	border: 0px;
	width: 19px;
	height: 16px;
}

.cursor { 
	background-color: #D2DAE6; cursor: hand; 
}

.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.style2 {
	font-size: 10px; font-weight: bold; 
}
.style3 {
	color: #000066; font-weight:bold;
}
.style4 {
	font-size: 10px;
	border:#FFFFFF;
  	
}
.style5 {
	font-size: 10px;
	background:#F9FAFB;
}
.style6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066; font-weight:bold;
	background:#F9FAFB;
	border:#FFFFFF;
}      
.style7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066; font-weight:bold;
	text-decoration: none;
}


.TabelaBorda1 {
	text-decoration: none;
	border: 1px solid #D2DCDF;
}
.TabelaBorda2 {
	text-decoration: none;
	border: 1px solid #CAD6D9;
}
.TabelaBorda3 {
	text-decoration: none;
	border: 1px solid #E1E1E1;
}


.Fundo1 {
	border: 1px solid #D2DCDF;
	background-color: #F2F3F5;
}
.Fundo2 {
	border: 1px solid #FFFFFF;
	background-color: #F9FAFB;
}
.Fundo3 {
	background-color: #F3F3F3;
}
.Fundo4 {
	background-color: #F9F9F9;
}
.Fundo5 {
	background-color: #EEEEEE;
}
.Fundo6 {
	background-color: #F7F7F7;
}
.Fundo7 {
	border: 1px solid #FFFFFF;
	background-color: #EEEEEE;
}
.Fundo8 {
	border: 1px solid #F2F3F5;
	background-color: #F2F3F5;
}
.Fundo9 {
	border: 1px solid #F9FAFB;
	background-color: #F9FAFB;
}
.Fundo10 {
	border: 1px solid #D2DCDF;
	background-color: #F9FAFB;
}
.Fundo11{
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.Fundo12 {
	background-color: #E1E1E1;
}
.Fundo13{
	background-color: #FFFFFF;
}

.Fundo14{
	background-color: #E7E7FF;
}

