.link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; text-decoration: none; color: #19167D}
.link:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; text-decoration: underline; color: #19167D}
b:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #CC0000}
.form_input {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #334f86; text-decoration: none; background-color: #FFFFFF; border: #334f86; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.form_input {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #334f86; text-decoration: none; background-color: #FFFFFF; border: #334f86; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.form_input {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #334f86; text-decoration: none; background-color: #FFFFFF; border: 1px #334f86 solid}
.txtcinza_bold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #8C8B8B}
.form_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: D4D0C8;
	height: 18px;
	position: relative;
	border: 1px solid #000000;
	margin: 1px;
	padding: 1px;


}
.txtabranco_titulo { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #000000; text-decoration: none }
.txtabranco_titulo:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #000000; text-decoration: none }




a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;

}
.soap {
	font-family: "Courier New", Courier, mono;
	font-size: 11px;
}

.titulo {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #19167D;
	text-decoration: none;
	font-weight: bold;
}
