.titTab {
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 12px;
    font-weight:bold;
}


.style7 {font-size: 12px}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.titOrganiBlack{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-align: left
}
.titOrgani{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #406496;
}
.subTit {
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
}

.subTit2 {
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
color: #98373E;
}

#bar{
position: relative;
z-index:100;
left:15px;
top: 20px;
}

#tbl01{
	border:1px solid #999999;
	border-spacing:1px;
}

#tbl02{
	border:1px solid #7BA0CA;
	border-spacing:1px;
}

.txthome_titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #DF0000;
	cursor: default;

}

.textTab {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

.form_input {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	color: #003366; 
	text-decoration: none;
}

.text_01 {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	color: #000000; 
	text-decoration: none;
}