/*
 * *****************************************************************************
 * *****************************************************************************
 *
 * Decoração
 *
 * *****************************************************************************
 * *****************************************************************************
 */


/*
 * *****************************************************************************
 * Fundos
 * *****************************************************************************
 */
 

.p11
{
	height: 100%;
	background-position: center;
	background: #c5d7e3 url(../images/bg_body.gif) repeat-x top;
}	

.bi-dark-background {
	background: #666666 url(../images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .60;filter:Alpha(Opacity=60);
}

/*
.bg_geral {
  background-image: url(/images/bg_geral.png);
  background-repeat: repeat;
}

.bg_transpLeve {
  background-image: url(/images/bg_geralDark.png);
  background-repeat: repeat;
}

.bg_panel_dark {
}

.bg_transp {
  background: none;
}
*/

/*
 * *****************************************************************************
 * Bordas
 * *****************************************************************************
 */ 
.bg_border {
  border: 1px solid #5B2A10;
} 

.bg_border_tl {
  border-left: 1px solid #5B2A10;
  border-top: 1px solid #5B2A10;
} 

.bg_border_double {
  border: 1px double #5B2A10;
} 

.bg_border_inset {
  border: 2px inset #5B2A10;
} 

.bg_border_rad {
  -moz-border-radius: 8px;
}

/*
 * *****************************************************************************
 * Browse
 * *****************************************************************************
 */


/*
 * *****************************************************************************
 * Titulos
 * *****************************************************************************
 */
 
/* 
h1 {
  font-size: 140% !important;
  font-weight: bold !important;
  background-color: #bca87c;
  color: #fff6e1;
  text-transform:capitalize;
  background-image: url("/images/list.png");
  background-position: left center;
  background-repeat:no-repeat;
  padding-left:30px;
}

h1.new {
  background-image: url("/images/new_big.png");
}

h1.edit {
  background-image: url("/images/edit_big.png");
}
*/


/*
 * *****************************************************************************
 * CUSTOM pin/close buttons
 * *****************************************************************************
 */
span.button-pin 
{
	position:	absolute;
	width: 		20px;
	height:		20px;
	z-index:	2;
	display:	block;
	cursor: 	pointer;
}

span.button-pin-west	 	{ right: 2px; top:   8px; }
span.button-pin-east	 	{ left:	 2px; top:   8px; }
span.button-pin-north	{ bottom:8px; right: 2px; }
span.button-pin-south	{ top:	 8px; right: 2px; }

/* CUSTOM pin-buttons */
span.button-pin-up 		  	{ background: url(../images/pin_up-off.gif) no-repeat center; }
span.button-pin-up:hover   	{ background: url(../images/pin_up-on.gif)  no-repeat center; }
span.button-pin-down 	  	{ background: url(../images/pin_dn-off.gif) no-repeat center; }
span.button-pin-down:hover 	{ background: url(../images/pin_dn-on.gif)  no-repeat center; }

/* CUSTOM close-buttons */
span.button-close-west		{ background: url(../images/go_left-off.gif) no-repeat center;  }
span.button-close-west:hover	{ background: url(../images/go_lett-on.gif)  no-repeat center;  }
span.button-close-east		{ background: url(../images/go_right-off.gif) no-repeat center; }
span.button-close-east:hover	{ background: url(../images/go_right-on.gif)  no-repeat center; }

/* STANDARD toggler-buttons - when the east/west panes are 'closed' */
.toggler-west-closed		{ background: url(../images/go_right-off.gif) no-repeat center; }
.toggler-west-closed:hover	{ background: url(../images/go_right-on.gif)  no-repeat center; }
.toggler-east-closed		{ background: url(../images/go_left-off.gif) no-repeat center;  }
.toggler-east-closed:hover	{ background: url(../images/go_left-on.gif)  no-repeat center;  }


/*
 * *****************************************************************************
 * Title
 * *****************************************************************************
 */
.cab_title > .left { 
	background: url(../images/form_cab_left.gif) no-repeat; 
}

.cab_title > .right { 
	background: url(../images/form_cab_right.gif) no-repeat; 
}

.cab_title > .center { 
	background: url(../images/form_cab_middle.gif); 
}


.cab_title > .close
{
	cursor: pointer;
	background: url(../images/close.gif) no-repeat center;
	z-index:100;
}

.cab_title > .close:hover
{
	cursor: pointer;
	background: url(../images/close_hover.gif) no-repeat center;
	z-index:100; 
}

.cab_title > .maximizar
{
	cursor: pointer;
	background: url(../images/maximizar.gif) no-repeat center;
	z-index:100;
}

.cab_title > .maximizar:hover
{
	cursor: pointer;
	background: url(../images/maximizar_hover.gif) no-repeat center;
	z-index:100; 
}

/*
 * *****************************************************************************
 * Dialog
 * *****************************************************************************
 */
 
 /*DIALOG COMUM*/
.bi-dialog-title{
	cursor: move;
	color: #ffffff;
	text-align: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
}

.bi-dialog-title > .left { 
	background: url(../images/window_cab_left.gif) no-repeat; 
}

.bi-dialog-title > .right { 
	background: url(../images/window_cab_right.gif) no-repeat; 
}

.bi-dialog-title > .center {
	padding-top:9px; 
	background: url(../images/window_cab_center.gif); 
}

.bi-dialog-title > .center > .close {
	cursor: pointer;
	background: url(../images/wnd_close.png) no-repeat center;
	z-index:100;
}

.bi-dialog-title > .center > .close:hover {
	cursor: pointer;
	background: url(../images/wnd_close_hover.png) no-repeat center;
	z-index:100;
}

.bi-dialog-popup.bi-dialog-content {
	background-color: #FFFFFC;
}

 
 /*ALERT*/
.bi-dialog-alert-title{
	cursor: move;
	color: #ffffff;
	text-align: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
}

.bi-dialog-alert-title > .left { 
	background: url(../images/window_cab_left.gif) no-repeat; 
}

.bi-dialog-alert-title > .right { 
	background: url(../images/window_cab_right.gif) no-repeat; 
}

.bi-dialog-alert-title > .center {
	padding-top:9px; 
	background: url(../images/window_cab_center.gif); 
}

.bi-dialog-alert-title > .center > .close {
	cursor: pointer;
	background: url(../images/wnd_close.png) no-repeat center;
	z-index:100;
}

.bi-dialog-alert-title > .center > .close:hover {
	cursor: pointer;
	background: url(../images/wnd_close_hover.png) no-repeat center;
	z-index:100;
}

.bi-dialog-alert {
	background-color: #F4F9FC;
}

.bi-dialog-alert-header {
	background-color: #F4F9FC;
}

.bi-dialog-alert-buttonpane {
	background-color: #F4F9FC;
}

.bi-dialog-alert-img {
	background: url(../images/marcadagua_totvs.png) no-repeat center top;
}

.bi-dialog-alert-msg {
}

/*

*/
.bi-link{
	text-decoration:underline; 
	cursor:pointer;
	color:#000000;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
}

.bi-link:hover{
	color:#0000FF;
	font-weight: normal;
}


/*
 * *****************************************************************************
 * Campo obrigatório
 * *****************************************************************************
 */
.bi-field-required .bi-required-mark{
	color:#FF0000;
}

/*
 * *****************************************************************************
 * Button
 * *****************************************************************************
 */
.wi-jqbutton{
	cursor:pointer;
	color:#00008F;
	font-family:verdana; 
	font-size:10px;
}

.wi-jqbutton.dsh-button-login{
	color:#FFFFFF;
	font-weight: bold;
}

.wi-jqbutton.bi-button-default{
	color:#FFFFFF;
	font-weight: bold;
}

.wi-jqbutton:hover{
	color:#FFFFFF;
	font-weight: bold;
}

.wi-jqbutton.disabled{
	cursor:default;
	color:#6F6F6F;
	font-weight: bold;
}

 .wi-jqbutton > .button-left { 
	background: url(../images/btn_left_default.gif) no-repeat; 
	top: 0px;
	left:0px;
	height:100%;
	width:5px;
	position:absolute;
}

.wi-jqbutton > .button-right { 
	background: url(../images/btn_right_default.gif) no-repeat; 
	top: 0px;
	right:0px;
	height:100%;
	width:5px;
	position:absolute;
}

.wi-jqbutton > .button-center { 
	background: url(../images/btn_center_default.gif) repeat-x ; 
	top: 0px;
	right:5px;
	left:5px;
	height:100%;
	position:absolute;
	text-align:center;
	padding-top:4px;
}


.wi-jqbutton:hover > .button-left { 
	background: url(../images/btn_left_hover.gif) no-repeat !important;
}

.wi-jqbutton:hover > .button-right { 
	background: url(../images/btn_right_hover.gif) no-repeat !important;
}

.wi-jqbutton:hover > .button-center { 
	background: url(../images/btn_center_hover.gif) repeat-x !important;
}


.wi-jqbutton.dsh-button-login > .button-left { 
	background: url(../images/btn_left_blue.gif) no-repeat;
}

.wi-jqbutton.dsh-button-login > .button-right { 
	background: url(../images/btn_right_blue.gif) no-repeat; 
}

.wi-jqbutton.dsh-button-login > .button-center { 
	background: url(../images/btn_center_blue.gif) repeat-x ; 
}


.wi-jqbutton.bi-button-default > .button-left { 
	background: url(../images/btn_left_blue.gif) no-repeat;
}

.wi-jqbutton.bi-button-default > .button-right { 
	background: url(../images/btn_right_blue.gif) no-repeat; 
}

.wi-jqbutton.bi-button-default > .button-center { 
	background: url(../images/btn_center_blue.gif) repeat-x ; 
}


.wi-jqbutton.disabled > .button-left { 
	background: url(../images/btn_left_disabled.gif) no-repeat !important;
}

.wi-jqbutton.disabled > .button-right { 
	background: url(../images/btn_right_disabled.gif) no-repeat !important; 
}

.wi-jqbutton.disabled > .button-center { 
	background: url(../images/btn_center_disabled.gif) repeat-x !important; 
}


.wi-jqbutton.disabled:hover > .button-left { 
	background: url(../images/btn_left_disabled.gif) no-repeat !important;
}

.wi-jqbutton.disabled:hover > .button-right { 
	background: url(../images/btn_right_disabled.gif) no-repeat !important; 
}

.wi-jqbutton.disabled:hover > .button-center { 
	background: url(../images/btn_center_disabled.gif) repeat-x !important; 
}


.bi-buttonpane {
	border-style: solid;
	border-width: 1px;
	border-color: #ecf1f7;
	background-color: #F4F9FC;
}

.bi-linkpane {
	border-style: solid;
	border-width: 1px;
	border-color: #ecf1f7;
	background-color: #F4F9FC;
}

.bi-linkpane .wi-jqbutton div{
	text-decoration:underline; 
	cursor:pointer;
	color:#000000;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
}

.bi-linkpane .wi-jqbutton:hover div{
	color:#0000FF;
	font-weight: normal;
}

.bi-linkpane .wi-jqbutton.disabled div{
	color:#6F6F6F;
}

.bi-linkpane .wi-jqbutton.disabled {
	cursor:default;
}

.bi-linkpane .wi-jqbutton.disabled:hover div{
	color:#6F6F6F;
}

.bi-linkpane .wi-jqbutton.bi-button-default div{
	color:#000000;
	font-weight: bold;
}
.bi-linkpane .wi-jqbutton.bi-button-default:hover div{
	color:#0000FF;
	font-weight: bold;
}

.bi-linkpane .wi-jqbutton > .button-left{
	background: none !important;
}
.bi-linkpane .wi-jqbutton > .button-center{
	background: none !important;
}
.bi-linkpane .wi-jqbutton > .button-right{
	background: none !important;
}

.bi-linkpane .wi-jqbutton:hover > .button-left{
	background: none !important;
}
.bi-linkpane .wi-jqbutton:hover > .button-center{
	background: none !important;
}
.bi-linkpane .wi-jqbutton:hover > .button-right{
	background: none !important;
}

.bi-linkpane .wi-jqbutton.bi-button-default > .button-left{
	background: none !important;
}
.bi-linkpane .wi-jqbutton.bi-button-default > .button-center{
	background: none !important;
}
.bi-linkpane .wi-jqbutton.bi-button-default > .button-right{
	background: none !important;
}

.bi-linkpane .wi-jqbutton.disabled > .button-left{
	background: none !important;
}
.bi-linkpane .wi-jqbutton.disabled > .button-center{
	background: none !important;
}
.bi-linkpane .wi-jqbutton .disabled > .button-right{
	background: none !important;
}

.bi-linkpane .wi-jqbutton.disabled:hover > .button-left{
	background: none !important;
}
.bi-linkpane .wi-jqbutton.disabled:hover > .button-center{
	background: none !important;
}
.bi-linkpane .wi-jqbutton .disabled :hover> .button-right{
	background: none !important;
}


/*
 * *****************************************************************************
 * Rodape
 * *****************************************************************************
 */
.main_footer > .left { 
	background: url(../images/form_footer_left.gif) no-repeat;
}

.main_footer > .right > .users {
	background: url(../images/form_footer_user.gif) no-repeat;
}

.main_footer > .right > .users:hover {
	cursor: pointer;
}

.main_footer > .right > .ajuda { 
	background: url(../images/form_footer_ajuda.gif) no-repeat;
}

.main_footer > .right > .ajuda:hover { 
	cursor: pointer;
}

.main_footer > .right > .config { 
	background: url(../images/form_footer_config.gif) no-repeat;
}

.main_footer > .right > .config:hover { 
	cursor: pointer;
}

.main_footer > .right > .about{ 
	background: url(../images/form_footer_about.gif) no-repeat;
}

.main_footer > .right > .about:hover { 
	cursor: pointer;
}

.main_footer > .right > .security { 
	background: url(../images/form_footer_security.gif) no-repeat;
}

.main_footer > .right > .security:hover { 
	cursor: pointer;
}

.main_footer > .center { 
	background: url(../images/form_footer_middle.gif); 
}

/*
 * *****************************************************************************
 * Tree
 * *****************************************************************************
 */
.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ulte{
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}


.treeview li { 
	margin: 0px;
	padding: 3px 3px 0px 16px;
}

.treeview a.selected {
	background-color: #FFFFFF;
}

.treeview .hover { color: red; cursor: pointer; }
.treeview li { background: url(../images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../images/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../images/treeview-red.gif); } 

.treeview-black li { background-image: url(../images/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../images/treeview-black.gif); }  

.treeview-gray li { background-image: url(../images/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../images/treeview-gray.gif); } 

.treeview-famfamfam li { background-image: url(../images/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../images/treeview-famfamfam.gif); } 


.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../images/treeview-folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../images/treeview-folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../images/treeview-file.gif) 0 0 no-repeat; }



/*
 * *****************************************************************************
 * Outros
 * *****************************************************************************
 */
.dshInformation{
	font-size: 9px !important;
}
 
.pnlEditor {
	background-color: #FFFFFF;
}

.pnlTree{
	background-color: #FFFFFF;
	border: 1px solid #EEEEEE;
}

.pnlTreeInstruction{

}

.cab_caption{ 
	color: #024670;
	text-align: left;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
}


.pnlEditor.bi-dragactive
{
	
}

.pnlEditor.bi-draghover
{
	background: #e1ffff !important;
}

.leftPanel
{
	background-color: #F4F9FC;
}

.wi-jqgroup
{
	border: 1px solid #999;
}

.wi-jqgroup > legend{
	margin-left:5px;
}


/*
 * *****************************************************************************
 * Icones
 * *****************************************************************************
 */
.ic_scorecard	{ background: url(../images/ic_scorecard.gif) 0 0 no-repeat; }
.ic_grafico		{ background: url(../images/ic_grafico.gif) 0 0 no-repeat;}
.ic_planilha	{ background: url(../images/ic_planilha.gif) 0 0 no-repeat; }
.ic_web			{ background: url(../images/ic_web.gif) 0 0 no-repeat; }
.ic_dw			{ background: url(../images/ic_20_dw.gif) 0 0 no-repeat; }
.ic_painelsco	{ background: url(../images/ic_painelsco.gif) 0 0 no-repeat; }
.ic_folder		{ background: url(../images/treeview-folder.gif) 0 0 no-repeat; }
.ic_novo		{ background: url(../images/ic_20_novo.gif) 0 0 no-repeat;}
.ic_tools		{ background: url(../images/ic_tools.gif) 0 0 no-repeat;}
.ic_del			{ background: url(../images/ic_del.gif) 0 0 no-repeat; cursor:pointer;}
.ic_del:hover 	{ background: url(../images/ic_del_hover.gif) 0 0 no-repeat; cursor:pointer;}
.ic_play		{ background: url(../images/ic_play.gif) 0 0 no-repeat; cursor:pointer;}
.ic_stop		{ background: url(../images/ic_stop.gif) 0 0 no-repeat; cursor:pointer;}


/*
 * *****************************************************************************
 * Classes Web Interface
 * *****************************************************************************
 */

.wi-jqmsgbar {
  border-top: 1px outset;
  border-left: 1px outset;
  border-right: 1px inset;
  border-bottom: 1px inset;
}


.wi-jqsay {
  display: inline-block;
  font-family: Verdana;
  font-size: 11px;
}


.pos-abs {
  position:absolute !important;
}

.bi-title {
	font-family: Verdana;
	font-size: 150%;
	font-weight: bold;
}

.bi-text-justify {
	text-align: justify;
}

/*
 * *****************************************************************************
 * Wizard
 * *****************************************************************************
 */
 
.bi-wizard-top{
	background-color: #F4F9FC;
	border-style: solid;
	border-width: 1px;
	border-color: #ecf1f7;
}

.bi-wizard-bottom{
	background-color: #F4F9FC;
	border-style: solid;
	border-width: 1px;
	border-color: #ecf1f7;
}

.bi-wizard-center{

}

.bi-wizard-image{
	background: url(../images/wzd_image.png)  no-repeat center;
}

/*
 * *****************************************************************************
 * Ajax Message
 * *****************************************************************************
 */

.ajaxIndicator
{
	position:absolute;
	right: 0px;
	bottom: 0px;
	top: 0px;
	left: 0px;
	z-index:99999999;
	margin: -5px 0 0 -5px; 
	padding: 5px; 
	background: #666666 url(../images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .60;filter:Alpha(Opacity=60); 
}

.ajaxIndicator .ajaxImage
{
	position:absolute;
	background: url(../images/ajax-loader.gif) 0 0 no-repeat;
	top:50%;
	left:50%;
	margin-left:-20px;
	margin-top:-10px;
	width:56px;
	height:32px;
}


.ajaxIndicator .ajaxMessage
{
	color: white;
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-50px;
	margin-top:25px;
	width:100px;
	height:26px;
}


.login_rodape{
	color:#01304d;
	font-family:Calibri, Verdana, Geneva, sans-serif;
	font-size:13px;
	background:url(../images/login_rodape.gif) no-repeat top center;
	padding-top:15px;
	bottom:15px;
	text-align:center;
	margin:auto;
	width:100%;
	
	
}

.containerLogin{
	top:50%;
	margin-top:-210px;
	left:50%;
	margin-left:-316px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#004a77;
}

.container_l{
	background:url(../images/login_container_l.png) no-repeat center center;
}

.container_m{
	background:url(../images/login_container_m.png) repeat-x center center;
}

.divisor{
	background:url(../images/login_div.png) repeat-y center center;
}

.container_r{
	background:url(../images/login_container_r.png) no-repeat center center;
}

.logo_totvs{
	background:url(../images/login_logo_totvs.png) no-repeat center center;
}


.title{
	font-size:30px;
	font-family:Calibri, Verdana, Geneva, sans-serif;
	font-weight:bold;
}


.input{
	
}

.wi-jqlistbox {
	list-style: none;
	font: 0.9em Arial;
	padding: 40px;
}

.wi-jqlistbox li {
	display: block;
	padding: 5px 5px; margin-bottom: 3px;
	background-color: #efefef;
	width: 300px;
}

.slideshow {
	position: relative;
	padding-bottom: 15px;
}

.slideshow_move {
	margin-right: 20px;
	cursor: move;
	background: url(../images/sorteable_move.png) no-repeat center center;
	width: 16px;
	height: 16px;
	left: 0px;
	position: absolute;
}

.slideshow_exclude {
	margin-right: 20px;
	cursor: pointer;
	background: url(../images/ic_del_hover.gif) no-repeat center center;
	width: 16px;
	height: 16px;
	left: 18px;
	position: absolute;
}

.slideshow_dash {
	left: 35px;
	position: absolute;
	margin-top: 2px;
	width: 200px;
}

.bi-dsh-about{
	z-index:99999998;
}

A:hover {
	TEXT-DECORATION: underline !important;
}

A:link {
	TEXT-DECORATION: none;

}
A:active {
	
}

A:visited {
	TEXT-DECORATION: none;
}

.links {
	FONT-SIZE: 11px;
}

.links_login {
	FONT-SIZE: 9px;
	COLOR: #7C87A4;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline !important;
}