@import url(..\base.css);
 
.stxTitle
{
  font-size: 125%;
  font-weight: bold;
  text-transform: uppercase;
}

.stxSubTitle
{
  font-weight: bold;
  text-transform: capitalize;
}

.stxList 
{
  list-style-type: disc;
}           

.stxListNumber
{
  list-style-type: decimal;
}

.stxListAlpha
{
  list-style-type: upper-alpha;
}

.stxListAlpha ol.stxListAlpha
{
  list-style-type: lower-alpha;
}

.stxListRoman
{
  list-style-type: upper-roman;
}

.stxListRoman ol.stxListRoman
{
  list-style-type: lower-roman;
}

.stxHorzLine
{               
  margin-top: 3px;
  margin-bottom: 3px;
  color: #000000;
}

.stxLink
{

}

.stxEMail
{

}

.stxEMailEx
{
  font-weight: bold;
  color: #000000;
}

.stxImg
{
  float:none;
  padding-right:5px;
  padding-left:5px
}

.stxImgLeft
{
  float:left;
  padding-right:5px
}

.stxImgRight
{
  float:right;
  padding-left:5px
}

.stxRef
{

}

.stxRefSep
{
  width: 30%;
  color: #fbfbfb;
}

.stxNote
{
  font-size: 80%;
  font-style: italic;
  margin-left: 4px;
}

.stxIdent
{
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.stxSchema
{
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  display:block;
}