body {
  background: rgb(204, 204, 204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
  width: 21.1cm;
  height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
  .page-break {
    page-break-before: always;
	page-break-inside : avoid;
  }

}	
		
.print-guia-table{
	
	border:1px solid;
	width: 1093px;
	height: 565px;
}

table{
	width: 100%;
}


table th {
	color: black;
	font-size: 9px;
}

.divCabecalho {
	  display: flex;
	  flex-flow: row wrap;
	  font-weight: bold;
}

.table-cell {
	  flex: 1 30%;
	  padding-left:14px;
	  
}

.divTabela {
	  display: flex;
	  flex-flow: row wrap;
}

.despDescri {
	padding-left:14px;
	font-size: 9px;
	font-weight: bold;
	border-bottom:1px solid;
}

	
.print-guia-company-logo .fakeImg {
    background: no-repeat center;
    background-size: cover; 

}	
			
		   
tr th{
	text-align: left;
}

th[id="idDes0"]{
	width:10px;
}

th[id="idDes1"]{
	width:30px;
}

th[id="idDes2"]{
	width:41px;
}

th[id="idDes3"],[id="idDes4"],[id="idDes5"]{
	width:65px;
}

th[id="idDes7"]{
	width:95px;
}

th[id="idDes6"],[id="idDes8"],[id="idDes9"],[id="idDes10"]{
	width:130px;
}

td{	
	font-size:9px;
	font-family: "Times New Roman", Times, serif;
}

.print-guia-wrapper {
     background-color: white;
     font-family: Arial, Helvetica, sans-serif; 
}

.consulta-wrapper {
    padding-left: 5cm;
    padding-top: 4cm; 
	
}

.print-guia-container {
    width: 20.7cm; 
    display: table;
}
 
.print-guia-container {
      border: 1px solid #000;
      height: auto;
      padding: .3cm;
} 
  
 
.print-guia-field-container {
      display: flex;
      flex-direction: column;
      float: left;
      font-size: 8.5px;
      justify-content: space-between;
      line-height: 1.2em;
      margin: .2em .2em .1em 0;
      overflow: hidden;
      padding: .1em;
  }
  
.print-guia-field-title {
  font-weight: bold;
  font-size: 9px;
}
  
.print-guia-field-line {
  border-bottom: 1px solid;
  margin-bottom: .2em;
}
  
  
.print-guia-header {
      display: flex;
	  margin-top: 15px;
      height: 40px;
	  justify-content: space-between;
  }
   
.print-guia-header .print-guia-company-logo img {
      max-width:125px;
	  min-width:35px;
      height: 35px;
}
   
  
.print-guia-header .print-guia-title {
  
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 12px;
  font-weight: bold;
  justify-content: center; 
  text-align: center;
  padding-right: 120px;
  text-justify:auto;
 
}
  
.print-guia-header .print-guia-number-service-provider {
  font-size: 20px;
 
}

.print-guia-header .print-guia-number-service-provider .label-field {
  font-size: 8px;
}

.print-guia-header .print-guia-number-service-provider .value-field{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  float: rigth;
  text-align: right;
	
}

.print-guia-row {
  width: 100%;
}

.print-guia-group-title {
  background-color: #c0c0c0;
  font-size: 8px;
  font-weight: bold;
  height: 10px;
  column-span: all;
  line-height: 1.2em;
  padding: .1em;
  width: 100%;
}

.print-guia-list-container {
  border: 1px solid;
  display: flex;
  flex-flow: column;
  margin: .1em .1em .1em 0;
}

.print-guia-list-titles-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 8px;
  font-weight: bold;
  margin-left: .9em;
  line-height: 1.2em;
}

.print-guia-list-data-container {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 8px;
  line-height: .8em;
}

.print-guia-list-fields-container {
  display: flex;
}

.print-guia-list-number-container {
  display: table;
  float: left;
  font-weight: bold;
  margin-top: .5em;
}

.k-button{
  width: 200px;
  display: block;
  margin-top: 10px;
  margin-right: 315px;
  float: right;
}
  